# Oops Concept

In [41]:
class car:
    def __init__(self, brand_name, fueltype, body_type):     #__init__ is a constructor here which is responsible to input some data ina particular way at the time of iniatilization of the object of the function
        self.brand_name2= brand_name                          #self is not a registered keyword, we can use any word instead of it
        self.fueltype1= fueltype         
        self.body_type1= body_type
    
    def desc_car(self):
        print(self.brand_name, self.fueltype, self.body_type1)

# Very Important Note

#
Here __init___ is used to intialize the function which help us to provide the data input in a particular way, So init method is not always required, so init method is only used when ever data is to be provided as an input otherwise it is not required

and here self.something is the attribute of that object which take some data input from init

And the Original attributes which are about to call for output are brand_name2, fuel_type1 and body_type1 but not the brand_name, fueltype, body_type because these are varibales which help in storing and providing the datra input during init function to the class object.

In [42]:
innova= car("toyata", "petrol", "suv")

In [50]:
print(type(innova))

<class '__main__.car'>

In [43]:
innova.desc_car()

toyata petrol suv

In [44]:
innova.fueltype

'petrol'

In [45]:
nexon= car("tata", 'diesel', "sports")

In [46]:
nexon.desc_car()

tata diesel sports

In [47]:
fortuner= car("toyata", "petrol", "suv")

In [48]:
fortuner.body_type   #Since the original variable is body_type1

AttributeError: 'car' object has no attribute 'body_type'

In [63]:
class list_parser:
    def __init__(self, l ):
        self.a= l

    def parcer(self):
        if type(self.a)== list:
            for i in self.a:
                print(i)

    def reverselist(self):
        if type(self.a)==list:
            return self.a[::-1]

In [64]:
list1 = list_parser([2,24,24,4])

In [65]:
list1.parcer()

2
24
24
4

In [ ]:
"""ques : create a class for dictionary and perform the following 
1. write a function to give all keys
2. write a function to give all values
3. write a function to throw an error in case of input is not dictionary
4. write a function for take user input and then parse a key value out of dictionary
5. write a function to insert new key value pair into dictionary"""

In [105]:
class dictionary:
    def __init__(self, d):
        self.d= d
    def check_type(self):
        try:
            if type(self.d)!= dict:
                raise Exception(self.d, "Not a dictionary")
            else:
                return 1
        except Exception as e:
            print(e)   
    def give_keys(self):
        if self.check_type():
            return (self.d).keys()
    def give_values(self):
        if self.check_type():
            return (self.d).values()
    def parse(self):
        for i in (self.d).keys():
            print("The key value is: "+ "key is "+ str(i)+ " and value is "+ str(self.d[i]))
    """def insert_new(self, key, value):
        self.d[key]= value             #First normal approach
        return self.parse()  """ #self.parse() is used here to perform parse function again
                                #First normal approach
    def insert_new(self, **kwargs):
        for k,v in kwargs.items():
            self.d[k]=v                #Second appraoch(Good)
            return self.parse()

In [106]:
dictionary1= dictionary({"name": "jaga", "age": 23, "address":"fafsf"})

In [107]:
dictionary1.give_keys()

dict_keys(['name', 'age', 'address'])

In [108]:
dictionary1.give_values()

dict_values(['jaga', 23, 'fafsf'])

In [109]:
dictionary1.check_type()

1

In [110]:
dictionary1.parse()

The key value is: key is name and value is jaga
The key value is: key is age and value is 23
The key value is: key is address and value is fafsf

In [115]:
dictionary1.insert_new(gender="male")

The key value is: key is name and value is jaga
The key value is: key is age and value is 23
The key value is: key is address and value is fafsf
The key value is: key is gender and value is male

In [116]:
dictionary2= dictionary("adasda")

In [117]:
dictionary2.check_type()

('adasda', 'Not a dictionary')

#We can create our module of above class and perform the operation on any dictionary

In [7]:
import DictionaryModule 
#from DictionaryModule import dictionary    #Second approach for direct import of class

In [4]:
d= DictionaryModule.dictionary({"fasaf":"ASfsfs", "dsfsa":23})
# d= dictionary({"fasaf":"ASfsfs", "dsfsa":23})   #if we implemented second approach

In [5]:
d.give_keys()

dict_keys(['fasaf', 'dsfsa'])

In [6]:
d.check_type()

1

# Inheritance

In [26]:
class xyz:
    def __init__(self, a, b,c):
        self.a= a
        self.b= b
        self.c= c

    def test(self):
        print("THis is my first test method of xyz class")
    
    def test1(self):
        print("This is my test1 method of xyz class")
    
    def test2(self):
        print("This is my test2 meth for xyz class")

In [27]:
class xyz1(xyz):
    pass

In [28]:
p = xyz(2,23,3)

In [29]:
p.test1()

This is my test1 method of xyz class

In [30]:
q= xyz1()    #since xyz1 inherited xyz, so this q which is object of xyz1 class also requires 3 values becuase xyz require 3 values

TypeError: xyz.__init__() missing 3 required positional arguments: 'a', 'b', and 'c'

In [31]:
q= xyz1(1,32,312)

In [32]:
q.test()   #since we inherited xyz into xyz1 we can able to get test() for q which is object of xyz1 class

THis is my first test method of xyz class

In [33]:
class xyz1(xyz):
    def test(self):
        print("this is method for xyz1 class")

In [34]:
g= xyz1(4,56,4)

# 
As we see test is avaialble in both parent and child class(xyz1) and we know we have inherited parent class(xyz). And as shown below we are calling test() for a object(g) of xyz1 class. We get the output of its own child class but not parent. So, Altough we have same method in both parent and child class and also paraent class is inherited, test() method is overrided by child class and giving its own output

In [35]:
g.test()

this is method for xyz1 class

#
Multiclass Inheritence

In [9]:
class xyz:
    def __init__(self, a,b,c):
        self.a= a
        self.b= b
        self.c= c
    
    def test(self):
        print("this is my test method for xyz class")
class xyz1:
    def __init__(self, p, q, r):
        self.p= p
        self.q= q
        self.r= r
    def test1(self):
        print("This is my test1 method for xyz1 class")

class child(xyz, xyz1):
    def __init__(self, *args, **kwargs):
        xyz.__init__(self, *args)
        xyz1.__init__(self, **kwargs)

In [13]:
n= child(4,56,7, q=23, p=45, r= 453)

In [14]:
n.test()

this is my test method for xyz class

In [15]:
n.p

45

In [16]:
n.q

23

# 
Multilevel Inheritance

In [44]:
class xyz:
    def __init__(self, a,b,c):
        self.a= a
        self.b= b
        self.c= c
    
    def test(self):
        print("this is my test method for xyz class")
class xyz1(xyz):
    def __init__(self, marks1):
        self.marks1= marks1
    def test1(self):
        print("This is my test1 method for xyz1 class")

class child(xyz1):
    def test3(self):
        print("This is tetst function for child")

In [46]:
n= xyz1()    #altough we havent inherited xyz in child but still it asking for argumnets beacuase of multilevel inheritance

TypeError: xyz1.__init__() missing 1 required positional argument: 'marks1'

In [22]:
n= child(2323,23,3)

In [23]:
n.a

2323

In [24]:
n.test()

this is my test method for xyz class

In [25]:
n.test3()

This is tetst function for child

#ques 1. Create a file class for reading data from respective file with a method name read and write


#ques 2. Try to inherit read and write method fro, parent class to child class to perform read and write operation

In [25]:
#ques 1
class file:
    def __init__(self, path, filename, mode):
        self.path = path
        self.filename= filename
        self.mode= mode
    def open_mode(self):
        import os
        os.chdir(self.path)
        f= open(self.filename, self.mode)
        return f
    def write_read(self):
        if self.mode== "w":
            (self.open_mode()).write(input("enter the message"))
        elif self.mode== "r":
            return (self.open_mode()).read()
        elif self.mode== "r+":
            a= input("do you want to write into file, Please enter yes or no")
            if a== "yes":
                (self.open_mode()).write(input("enter the message"))
            return (self.open_mode()).read()
#ques 2
class child(file):
    pass

In [19]:
f= file('e:\\VS CODE', "file.txt", "r")

In [20]:
f.write_read()

'fasdasdasds'

In [23]:
f2= file('e:\\VS CODE', "file1.txt", "r+")

In [28]:
f2.write_read()

'gfhghg'

In [29]:
g= child('e:\\VS CODE', "file1.txt", "w")

In [30]:
g.write_read()

In [36]:
h=child('e:\\VS CODE', "file1.txt", "r+")

In [37]:
h.write_read()

'ghvjvjnvhnbhj'

Public, Private and protected

In [86]:
class test:
    def __init__(self, a,b, c):
        self._a= a          #protected
        self.__b= b         #private
        self.c= c          #public 
class test1(test):
    pass

In [87]:
u= test(34,2,34)
u.a                #we are not able to access u.a becuase _ is used for protected to access it we have to use as u._a

AttributeError: 'test' object has no attribute 'a'

In [88]:
u._a      #to acess protected

34

In [89]:
u.__b     #altough we have enetered __b we cant access b because b is private
        #to access Private variable use "object_classname__variable"

AttributeError: 'test' object has no attribute '__b'

In [90]:
u._test__b    #to access private variable

2

In [91]:
v= test1(32,42,4)

In [92]:
v._a           #to access protected

32

In [93]:
v.c        #public

4

# 
As we see the below code, although we have inherited the test class into test1 and using correct syntax to access the provate variable but still it showing error because the private access property is mainly available with the parent class. So the correct form of accessing the varaible will be "Object_name._Name_of_main_parent_class__variable

In [94]:
v._test1__b

AttributeError: 'test1' object has no attribute '_test1__b'

In [117]:
v._test__b   #correct syntax for accesing and even modifying the private variable in the child class

42

Public, Protected, priavte implemented in Multiclass inheritance

In [103]:
class xyz:
    def __init__(self, a,b,c):
        self._a= a
        self.__b= b
        self._c= c
    
    def test(self):
        print("this is my test method for xyz class")
class xyz1:
    def __init__(self, p, q, r):
        self.p= p
        self.__q= q
        self.r= r
    def test1(self):
        print("This is my test1 method for xyz1 class")

class child(xyz, xyz1):
    def __init__(self, *args, **kwargs):
        xyz.__init__(self, *args)
        xyz1.__init__(self, **kwargs)

In [104]:
u= xyz(121,3,3)

Very important note here below

In [106]:
u.__b    #we know we cannot access like this

AttributeError: 'xyz' object has no attribute '__b'

In [107]:
#But the glitch here is, if we try to modify it by using 
u.__b= 65
#it will be executed but the value wont be changed since it is private, so no worry if it will be executed in this way

In [109]:
u._xyz__b   #see, as we see here value not chnaged

3

In [57]:
v= child(123,213,132, q=3, p=21, r=132)

In [58]:
v._a

123

In [59]:
v._xyz__b   #to access private variable b by using xyz(main private property)

213

In [97]:
v.__q   #access of q variable by using xyz1(main private property)

AttributeError: 'test1' object has no attribute '__q'

In [61]:
class bonuscalculator:
    def __init__(self, empid, empidrating):
        self.empid= empid
        self.emprating= empidrating
        self.__bonusforratingA = "70%"
        self.__bonusforratingB = "60%"
        self.__bonusforratingC = "40%"
    def bonus(self):
        if self.emprating =="A":
            bonus = self.__bonusforratingA
            return bonus
        elif self.emprating =="B":
            bonus= self.__bonusforratingB
            return bonus
        elif self.emprating=="C":
            bonus= self.__bonusforratingC
            return bonus

In [62]:
emp1= bonuscalculator(101, "A")
emp2= bonuscalculator(102, "C")
emp3= bonuscalculator(103, "B")

In [64]:
emp1.bonus()

'70%'

In [110]:
emp1.emprating= "B"   #we can acess and change the value since it is public

In [112]:
emp1.bonus()   #automatic reflection was done

'60%'

In [113]:
emp1.__bonusforratingB= "90%"   # as we discussed altough if we try to modify private variable in this way, it wont affect the orginal value

In [116]:
emp1._bonuscalculator__bonusforratingB  # see no affect on original value

'60%'

# Mini project

# 
Small tool which can list all filenames in a directory by giving the path of directory as input and also capable of merging all the pdf files if available.

#Created by Tinker KT and python

In [24]:
import tkinter as tk
import os
from PyPDF2 import PdfFileMerger
from tkinter import messagebox

def get_files(path):
    """
    Function to get a list of all files in a given directory.
    """
    try:
        # Get a list of all files in the given directory
        file_list = os.listdir(path)
        return file_list
    except Exception as e:
        # Log the exception and return an empty list
        print("Error getting file list:", e)
        return []

def merge_pdfs(file_list, filename):
    """
    Function to merge all PDF files in the given list and save the merged file with the given filename.
    """
    pdf_merger = PdfFileMerger()
    # Iterate through the list of files and add all PDFs to the merger
    for file in file_list:
        if file.endswith(".pdf"):
            try:
                pdf_merger.append(file)
            except Exception as e:
                # Log the exception
                print("Error adding PDF to merger:", e)
    # Save the merged PDF
    try:
        pdf_merger.write(filename)
        pdf_merger.close()
        return True
    except Exception as e:
        # Log the exception and return False
        print("Error saving merged PDF:", e)
        return False

def show_files(path):
    """
    Function to display the file names in a given directory.
    """
    # Get the list of files in the directory
    file_list = get_files(path)
    # Clear the listbox
    file_listbox.delete(0, "end")
    # Add the file names to the listbox
    for file in file_list:
        file_listbox.insert("end", file)

def merge_pdfs_callback():
    """
    Callback function for the "Merge PDFs" button.
    """
    # Get the list of files in the directory
    file_list = get_files(path_entry.get())
    # Get the user-specified filename
    filename = filename_entry.get()
    # Attempt to merge the PDFs in the list
    success = merge_pdfs(file_list, filename)
    # Display a message indicating the status of the PDF merge
    if success:
        messagebox.showinfo("Merge Success", "PDFs merged successfully!")
    else:
        messagebox.showerror("Merge Error", "Error merging PDFs.")

# Create the main window
root = tk.Tk()
root.title("File explorer")

# Create a frame for the search bar
search_frame = tk.Frame(root)
search_frame.pack(side="top", fill="x")

# Create a search bar
path_entry = tk.Entry(search_frame)
path_entry.pack(side="left", fill="x", expand=True)

# Create a button to search for files in the given directory
search_button = tk.Button(search_frame, text="Search", command=lambda: show_files(path_entry.get()))
search_button.pack(side="right")

# Create a listbox to display the file names
file_listbox = tk.Listbox(root)
file_listbox.pack(side="bottom", fill="both", expand=True)

# Create an entry widget for the user to specify the filename for the merged PDF
filename_entry = tk.Entry(root)
filename_entry.pack(side="bottom")

# Create a button to merge the PDFs in the given directory
merge_button = tk.Button(root, text="Merge PDFs", command=merge_pdfs_callback)
merge_button.pack(side="bottom")

# Run the main loop
root.mainloop()

In [1]:
pwd

'e:\\VS CODE'

In [29]:
class insta:
    def share_stories(self):
        print("This will share my insat story")
class facebook:
    def share_stories(self):
        print("This will share my facebook stories")

In [30]:
def share_stories(app):
    app.share_stories()

In [32]:
i= insta()
f= facebook()

In [33]:
share_stories(i)

This will share my insat story

In [34]:
share_stories(f)

This will share my facebook stories

In [1]:
class social_media:
    def share_stories(self):
        print("sahre a stories")
    def upload_pic(self):
        print("it will upload pic on social media")
class facebook(social_media):
    def share_stories(self):
        print("this will share story on fb")
class insta(social_media):
    def share_stories(self):
        print("this will print a story to insta")

In [2]:
f= facebook()
i= insta()

In [4]:
f.share_stories()
i.share_stories()

this will share story on fb
this will print a story to insta

In [5]:
class test(Exception):
    def __init__(self, msg, myval):
        self.msg= msg
        self.myval= myval

In [6]:
try:
    raise(test("this is my own exception class", 5))
    5/0
except test as t:
    print(t)

('this is my own exception class', 5)

In [7]:
#q1. Create a class for to achieve multiclass and multilevel inheritance
#q2. create your class to represent polymorphism
#q3. create your own class to achieve custom exception
#create your class to acieve encapsulation
#create your own class to achieve method overloading and overriding

# Good example of multiclass inheritence

In [8]:
#parent1 class

class details:
    def __init__(self, name, age, place, previous_company):
        self.name= name
        self.age= age
        self.place= place
        self.previous_company = previous_company
    def message(self):
        print("This section is for getting details of the worker") 

#parent2 class 

class occupation:
    def __init__(self, job, exp):
        self.job= job
        self.exp= exp
    def message2(self):
        print("This is section for getting job details")

#child class

class Teamworker(details, occupation):
    def __init__(self, name, age, place, previous_company, job, exp, empid):         
        self.empid= empid
        details.__init__(self, name, age, place, previous_company)
        occupation.__init__(self, job, exp)
    def message3(self):
        print("This section to get entire details of the teamworker")

In [9]:
emp1= Teamworker("jack", 40, "los vegas", "Mercedes", "Quality assurance", "5y", 123)

# Good example for multilevel inheritence

In [117]:
class student_details:
    def __init__(self):
        self.name= input("enter your name")
        self.age= int(input("enter age"))
        self.gender= input("enter gender")
    def test(self):
        print("This method is for getting student details")
class marks(student_details):
    def __init__(self):
        student_details.__init__(self)         #another way to initialize "super(marks, self).__init__()"
        self.mark1= int(input("enter marks in test1"))
        self.mark2= int(input("enter marks in test2"))
        self.mark3= int(input("enter marks in test3"))
    def test1(self):
        print("This is method for getting marks")

    def marks_in_each_test(self):
        print("The marks in each test for the student name: "+ str(self.name) +" are", self.mark1, self.mark2, self.mark3)
class Total_marks(marks):
    def __init__(self):
        super(Total_marks, self).__init__()
    def display_total(self):
        return (self.mark1+self.mark2+self.mark3)
    
class Topcomputing(Total_marks):
    def __init__(self):
        Total_marks.__init__(self)
    def eligibility(self):
        if self.display_total()>=90 and self.age>=13:
            print("Your are eligible")
        else:
            print("Sorry!, better luck next time")

In [118]:
std1= Topcomputing()

In [119]:
std1.eligibility()

Your are eligible

# Overview of whole inheritance and imp points

In [ ]:


# 1. For simple inheritance we can use direct simple self and respective varaibles for the object that class
# 2. if we create two classes and want to inherit first class (for which variables is to be define) into second class which have variables defined along with self(call by function)..... Then try to define varibales for first class through input function as shown in below example
"""
class xyz:
    def __init__(self):
        self.name= input("enter name")
        self.age= int(input("enetr age"))
        self.gender=input("enter gender")        
class xyz1(xyz):
    def __init__(self, address, job):
        super(xyz1, self).__init__()
        self.address = address
        self.job= job
"""
#3. So to avoid confusion it is better to define variables for all classes by using input function itself.
#4. And __init__ function is only required to a class if we are defining variables directly along with self or it is required to initiate the inheritance of the previous class or both
 
"""
    def __init__(self, address, job):
        super(xyz1, self).__init__()
"""
#5. Syntax to intialize the inheriated class:
"""
    parent_class_name.__init__(self)    or     super(child_class_name, self).__init__()    
"""

In [1]:
class Btach_number:
    bacth_number = "fsds"         #Static class variable
    def __init__(self, a, b, c):
        self.a= a
        self.b= b
        self.c= c
    @staticmethod
    def batch():
        print("This is static method")
    def batch1(self):
        print("this is not a static method")

In [3]:
Btach_number.bacth_number   #to access static class variable ----> object creation is not required and to acess it "Class_name.static_variable name"

'fsds'

In [4]:
Btach_number.batch()    # To access static function we can follow this kind of syntax

This is static method

In [22]:
class account_details:
    account_no = "3214354657432"     #here account no not going to change all the time, so Lets make it as a static class varibale
    def __init__(self, amount):
        self.amount= amount
        
    def show_acc_details(self, deduction):
        self.amount= self.amount- deduction
        return (self.amount, self.account_no)

In [23]:
transac1= account_details(100000)

In [24]:
transac1.show_acc_details(50000)

(50000, '3214354657432')

In [42]:
class Custom_error(Exception):
    def __init__(self, msg):
        self.msg= msg
try:
    a= int(input("enter your first number"))
    b= int(input("enter your second number"))
    if b==0:
        print("custom error raised")
        raise Custom_error("You have enetred zero as second number, Zero division Error")
except ValueError as msg:
    print(msg)

else:
    result=  a/b
    print(result)

custom error raised

Custom_error: You have enetred zero as second number, Zero division Error

In [43]:
class abc:
    pass

# Operations on MYSQL Workbench

In [3]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.31-cp311-cp311-win_amd64.whl (7.9 MB)
     ---------------------------------------- 7.9/7.9 MB 6.3 MB/s eta 0:00:00
Collecting protobuf<=3.20.1,>=3.11.0
  Downloading protobuf-3.20.1-py2.py3-none-any.whl (162 kB)
     -------------------------------------- 162.1/162.1 kB 3.2 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.31 protobuf-3.20.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import mysql.connector as conn

In [2]:
mydb= conn.connect(host= "localhost", user= 'root', passwd= "mysql")

In [3]:
mydb

In [4]:
cursor= mydb.cursor()

In [111]:
cursor.execute("show databases")

In [112]:
cursor.fetchall()    #fetchall gives the list of tuples of all the data bases available

[('hijaga',),
 ('information_schema',),
 ('jaga',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('testjaga',)]

In [38]:
cursor.execute("create database hijaga")

In [40]:
cursor.execute("use hijaga")

In [41]:
cursor.execute("create table hijaga.details1(studentid INT(10), degree VARCHAR(15), Firstname VARCHAR(20), lastname VARCHAR(20), discipline VARCHAR(10))")

In [42]:
cursor.execute("show tables")

In [43]:
cursor.fetchall()

[('details1',)]

In [44]:
cursor.execute('insert into hijaga.details1 values(123,"Mtech", "jaga", "m", "Add" )')

In [45]:
mydb.commit()

In [47]:
cursor.execute("select * from details1")

In [48]:
cursor.fetchall()

[(123, 'Mtech', 'jaga', 'm', 'Add')]

In [49]:
cursor.execute('insert into hijaga.details1 values(346, "Mtech", "vibi", "gandhi", "Add")')

In [50]:
cursor.execute("select * from details1")

In [51]:
cursor.fetchall()

[(123, 'Mtech', 'jaga', 'm', 'Add'), (346, 'Mtech', 'vibi', 'gandhi', 'Add')]

#
How to store data in a bulk

In [56]:
cursor.execute('create table hijaga.glassdata(col1 INT(10), col2 float(10,5), col3 float(10,5), col4 float(10, 5), col5 float(10, 5), col6 float(10, 5), col7 float(10, 5), col8 float(10,5), col9 float(10, 5), col10 float(10, 5), col11 INT(10))')

In [57]:
cursor.execute("show tables")

In [58]:
cursor.fetchall()

[('details1',), ('glassdata',)]

In [59]:
f= open("glass.data", "r")

In [60]:
f.read()

'1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1\n2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.00,0.00,1\n3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.00,0.00,1\n4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.00,0.00,1\n5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.00,0.00,1\n6,1.51596,12.79,3.61,1.62,72.97,0.64,8.07,0.00,0.26,1\n7,1.51743,13.30,3.60,1.14,73.09,0.58,8.17,0.00,0.00,1\n8,1.51756,13.15,3.61,1.05,73.24,0.57,8.24,0.00,0.00,1\n9,1.51918,14.04,3.58,1.37,72.08,0.56,8.30,0.00,0.00,1\n10,1.51755,13.00,3.60,1.36,72.99,0.57,8.40,0.00,0.11,1\n11,1.51571,12.72,3.46,1.56,73.20,0.67,8.09,0.00,0.24,1\n12,1.51763,12.80,3.66,1.27,73.01,0.60,8.56,0.00,0.00,1\n13,1.51589,12.88,3.43,1.40,73.28,0.69,8.05,0.00,0.24,1\n14,1.51748,12.86,3.56,1.27,73.21,0.54,8.38,0.00,0.17,1\n15,1.51763,12.61,3.59,1.31,73.29,0.58,8.50,0.00,0.00,1\n16,1.51761,12.81,3.54,1.23,73.24,0.58,8.39,0.00,0.00,1\n17,1.51784,12.68,3.67,1.16,73.11,0.61,8.70,0.00,0.00,1\n18,1.52196,14.36,3.85,0.89,71.36,0.15,9.15,0.00,0.00,1\n19,1.51911,13.90,3.73,1.18,72.12,0.06,8.89,0.00,0.00,1\n20,1.51735,13.02,3.54,1.69,72.73,0.54,8.44,0.00,0.07,1\n21,1.51750,12.82,3.55,1.49,72.75,0.54,8.52,0.00,0.19,1\n22,1.51966,14.77,3.75,0.29,72.02,0.03,9.00,0.00,0.00,1\n23,1.51736,12.78,3.62,1.29,72.79,0.59,8.70,0.00,0.00,1\n24,1.51751,12.81,3.57,1.35,73.02,0.62,8.59,0.00,0.00,1\n25,1.51720,13.38,3.50,1.15,72.85,0.50,8.43,0.00,0.00,1\n26,1.51764,12.98,3.54,1.21,73.00,0.65,8.53,0.00,0.00,1\n27,1.51793,13.21,3.48,1.41,72.64,0.59,8.43,0.00,0.00,1\n28,1.51721,12.87,3.48,1.33,73.04,0.56,8.43,0.00,0.00,1\n29,1.51768,12.56,3.52,1.43,73.15,0.57,8.54,0.00,0.00,1\n30,1.51784,13.08,3.49,1.28,72.86,0.60,8.49,0.00,0.00,1\n31,1.51768,12.65,3.56,1.30,73.08,0.61,8.69,0.00,0.14,1\n32,1.51747,12.84,3.50,1.14,73.27,0.56,8.55,0.00,0.00,1\n33,1.51775,12.85,3.48,1.23,72.97,0.61,8.56,0.09,0.22,1\n34,1.51753,12.57,3.47,1.38,73.39,0.60,8.55,0.00,0.06,1\n35,1.51783,12.69,3.54,1.34,72.95,0.57,8.75,0.00,0.00,1\n36,1.51567,13.29,3.45,1.21,72.74,0.56,8.57,0.00,0.00,1\n37,1.51909,13.89,3.53,1.32,71.81,0.51,8.78,0.11,0.00,1\n38,1.51797,12.74,3.48,1.35,72.96,0.64,8.68,0.00,0.00,1\n39,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1\n40,1.52213,14.21,3.82,0.47,71.77,0.11,9.57,0.00,0.00,1\n41,1.51793,12.79,3.50,1.12,73.03,0.64,8.77,0.00,0.00,1\n42,1.51755,12.71,3.42,1.20,73.20,0.59,8.64,0.00,0.00,1\n43,1.51779,13.21,3.39,1.33,72.76,0.59,8.59,0.00,0.00,1\n44,1.52210,13.73,3.84,0.72,71.76,0.17,9.74,0.00,0.00,1\n45,1.51786,12.73,3.43,1.19,72.95,0.62,8.76,0.00,0.30,1\n46,1.51900,13.49,3.48,1.35,71.95,0.55,9.00,0.00,0.00,1\n47,1.51869,13.19,3.37,1.18,72.72,0.57,8.83,0.00,0.16,1\n48,1.52667,13.99,3.70,0.71,71.57,0.02,9.82,0.00,0.10,1\n49,1.52223,13.21,3.77,0.79,71.99,0.13,10.02,0.00,0.00,1\n50,1.51898,13.58,3.35,1.23,72.08,0.59,8.91,0.00,0.00,1\n51,1.52320,13.72,3.72,0.51,71.75,0.09,10.06,0.00,0.16,1\n52,1.51926,13.20,3.33,1.28,72.36,0.60,9.14,0.00,0.11,1\n53,1.51808,13.43,2.87,1.19,72.84,0.55,9.03,0.00,0.00,1\n54,1.51837,13.14,2.84,1.28,72.85,0.55,9.07,0.00,0.00,1\n55,1.51778,13.21,2.81,1.29,72.98,0.51,9.02,0.00,0.09,1\n56,1.51769,12.45,2.71,1.29,73.70,0.56,9.06,0.00,0.24,1\n57,1.51215,12.99,3.47,1.12,72.98,0.62,8.35,0.00,0.31,1\n58,1.51824,12.87,3.48,1.29,72.95,0.60,8.43,0.00,0.00,1\n59,1.51754,13.48,3.74,1.17,72.99,0.59,8.03,0.00,0.00,1\n60,1.51754,13.39,3.66,1.19,72.79,0.57,8.27,0.00,0.11,1\n61,1.51905,13.60,3.62,1.11,72.64,0.14,8.76,0.00,0.00,1\n62,1.51977,13.81,3.58,1.32,71.72,0.12,8.67,0.69,0.00,1\n63,1.52172,13.51,3.86,0.88,71.79,0.23,9.54,0.00,0.11,1\n64,1.52227,14.17,3.81,0.78,71.35,0.00,9.69,0.00,0.00,1\n65,1.52172,13.48,3.74,0.90,72.01,0.18,9.61,0.00,0.07,1\n66,1.52099,13.69,3.59,1.12,71.96,0.09,9.40,0.00,0.00,1\n67,1.52152,13.05,3.65,0.87,72.22,0.19,9.85,0.00,0.17,1\n68,1.52152,13.05,3.65,0.87,72.32,0.19,9.85,0.00,0.17,1\n69,1.52152,13.12,3.58,0.90,72.20,0.23,9.82,0.00,0.16,1\n70,1.52300,13.31,3.58,0.82,71.99,0.12,10.17,0.00,0.03,1\n71,1.51574,14.86,3.67,1.74,71.87,0.16,7.36,0.00,0.12,2\n72,1.51848,13.64,3.87,1.27,71.96,0.54,8.32,0.00,0.32,2\n73,1.51593,13.09,3.59,1.52,73.10,0.67,7.83,0.00,0.00,2\n74,1.51631,13.34,3.57,1.57,72.87,0.61,7.89,0.00,0.00,2\n75,1.51596,13.02,3.56,1.54,73.11,0.72,7.90,0.00,0.00,2\n76,1.51590,13.02,3.58,1.51,73.12,0.69,7.96,0.00,0.00,2\n77,1.51645,13.44,3.61,1.54,72.39,0.66,8.03,0.00,0.00,2\n78,1.51627,13.00,3.58,1.54,72.83,0.61,8.04,0.00,0.00,2\n79,1.51613,13.92,3.52,1.25,72.88,0.37,7.94,0.00,0.14,2\n80,1.51590,12.82,3.52,1.90,72.86,0.69,7.97,0.00,0.00,2\n81,1.51592,12.86,3.52,2.12,72.66,0.69,7.97,0.00,0.00,2\n82,1.51593,13.25,3.45,1.43,73.17,0.61,7.86,0.00,0.00,2\n83,1.51646,13.41,3.55,1.25,72.81,0.68,8.10,0.00,0.00,2\n84,1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.00,0.09,2\n85,1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.00,0.00,2\n86,1.51625,13.36,3.58,1.49,72.72,0.45,8.21,0.00,0.00,2\n87,1.51569,13.24,3.49,1.47,73.25,0.38,8.03,0.00,0.00,2\n88,1.51645,13.40,3.49,1.52,72.65,0.67,8.08,0.00,0.10,2\n89,1.51618,13.01,3.50,1.48,72.89,0.60,8.12,0.00,0.00,2\n90,1.51640,12.55,3.48,1.87,73.23,0.63,8.08,0.00,0.09,2\n91,1.51841,12.93,3.74,1.11,72.28,0.64,8.96,0.00,0.22,2\n92,1.51605,12.90,3.44,1.45,73.06,0.44,8.27,0.00,0.00,2\n93,1.51588,13.12,3.41,1.58,73.26,0.07,8.39,0.00,0.19,2\n94,1.51590,13.24,3.34,1.47,73.10,0.39,8.22,0.00,0.00,2\n95,1.51629,12.71,3.33,1.49,73.28,0.67,8.24,0.00,0.00,2\n96,1.51860,13.36,3.43,1.43,72.26,0.51,8.60,0.00,0.00,2\n97,1.51841,13.02,3.62,1.06,72.34,0.64,9.13,0.00,0.15,2\n98,1.51743,12.20,3.25,1.16,73.55,0.62,8.90,0.00,0.24,2\n99,1.51689,12.67,2.88,1.71,73.21,0.73,8.54,0.00,0.00,2\n100,1.51811,12.96,2.96,1.43,72.92,0.60,8.79,0.14,0.00,2\n101,1.51655,12.75,2.85,1.44,73.27,0.57,8.79,0.11,0.22,2\n102,1.51730,12.35,2.72,1.63,72.87,0.70,9.23,0.00,0.00,2\n103,1.51820,12.62,2.76,0.83,73.81,0.35,9.42,0.00,0.20,2\n104,1.52725,13.80,3.15,0.66,70.57,0.08,11.64,0.00,0.00,2\n105,1.52410,13.83,2.90,1.17,71.15,0.08,10.79,0.00,0.00,2\n106,1.52475,11.45,0.00,1.88,72.19,0.81,13.24,0.00,0.34,2\n107,1.53125,10.73,0.00,2.10,69.81,0.58,13.30,3.15,0.28,2\n108,1.53393,12.30,0.00,1.00,70.16,0.12,16.19,0.00,0.24,2\n109,1.52222,14.43,0.00,1.00,72.67,0.10,11.52,0.00,0.08,2\n110,1.51818,13.72,0.00,0.56,74.45,0.00,10.99,0.00,0.00,2\n111,1.52664,11.23,0.00,0.77,73.21,0.00,14.68,0.00,0.00,2\n112,1.52739,11.02,0.00,0.75,73.08,0.00,14.96,0.00,0.00,2\n113,1.52777,12.64,0.00,0.67,72.02,0.06,14.40,0.00,0.00,2\n114,1.51892,13.46,3.83,1.26,72.55,0.57,8.21,0.00,0.14,2\n115,1.51847,13.10,3.97,1.19,72.44,0.60,8.43,0.00,0.00,2\n116,1.51846,13.41,3.89,1.33,72.38,0.51,8.28,0.00,0.00,2\n117,1.51829,13.24,3.90,1.41,72.33,0.55,8.31,0.00,0.10,2\n118,1.51708,13.72,3.68,1.81,72.06,0.64,7.88,0.00,0.00,2\n119,1.51673,13.30,3.64,1.53,72.53,0.65,8.03,0.00,0.29,2\n120,1.51652,13.56,3.57,1.47,72.45,0.64,7.96,0.00,0.00,2\n121,1.51844,13.25,3.76,1.32,72.40,0.58,8.42,0.00,0.00,2\n122,1.51663,12.93,3.54,1.62,72.96,0.64,8.03,0.00,0.21,2\n123,1.51687,13.23,3.54,1.48,72.84,0.56,8.10,0.00,0.00,2\n124,1.51707,13.48,3.48,1.71,72.52,0.62,7.99,0.00,0.00,2\n125,1.52177,13.20,3.68,1.15,72.75,0.54,8.52,0.00,0.00,2\n126,1.51872,12.93,3.66,1.56,72.51,0.58,8.55,0.00,0.12,2\n127,1.51667,12.94,3.61,1.26,72.75,0.56,8.60,0.00,0.00,2\n128,1.52081,13.78,2.28,1.43,71.99,0.49,9.85,0.00,0.17,2\n129,1.52068,13.55,2.09,1.67,72.18,0.53,9.57,0.27,0.17,2\n130,1.52020,13.98,1.35,1.63,71.76,0.39,10.56,0.00,0.18,2\n131,1.52177,13.75,1.01,1.36,72.19,0.33,11.14,0.00,0.00,2\n132,1.52614,13.70,0.00,1.36,71.24,0.19,13.44,0.00,0.10,2\n133,1.51813,13.43,3.98,1.18,72.49,0.58,8.15,0.00,0.00,2\n134,1.51800,13.71,3.93,1.54,71.81,0.54,8.21,0.00,0.15,2\n135,1.51811,13.33,3.85,1.25,72.78,0.52,8.12,0.00,0.00,2\n136,1.51789,13.19,3.90,1.30,72.33,0.55,8.44,0.00,0.28,2\n137,1.51806,13.00,3.80,1.08,73.07,0.56,8.38,0.00,0.12,2\n138,1.51711,12.89,3.62,1.57,72.96,0.61,8.11,0.00,0.00,2\n139,1.51674,12.79,3.52,1.54,73.36,0.66,7.90,0.00,0.00,2\n140,1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0.00,0.00,2\n141,1.51690,13.33,3.54,1.61,72.54,0.68,8.11,0.00,0.00,2\n142,1.51851,13.20,3.63,1.07,72.83,0.57,8.41,0.09,0.17,2\n143,1.51662,12.85,3.51,1.44,73.01,0.68,8.23,0.06,0.25,2\n144,1.51709,13.00,3.47,1.79,72.72,0.66,8.18,0.00,0.00,2\n145,1.51660,12.99,3.18,1.23,72.97,0.58,8.81,0.00,0.24,2\n146,1.51839,12.85,3.67,1.24,72.57,0.62,8.68,0.00,0.35,2\n147,1.51769,13.65,3.66,1.11,72.77,0.11,8.60,0.00,0.00,3\n148,1.51610,13.33,3.53,1.34,72.67,0.56,8.33,0.00,0.00,3\n149,1.51670,13.24,3.57,1.38,72.70,0.56,8.44,0.00,0.10,3\n150,1.51643,12.16,3.52,1.35,72.89,0.57,8.53,0.00,0.00,3\n151,1.51665,13.14,3.45,1.76,72.48,0.60,8.38,0.00,0.17,3\n152,1.52127,14.32,3.90,0.83,71.50,0.00,9.49,0.00,0.00,3\n153,1.51779,13.64,3.65,0.65,73.00,0.06,8.93,0.00,0.00,3\n154,1.51610,13.42,3.40,1.22,72.69,0.59,8.32,0.00,0.00,3\n155,1.51694,12.86,3.58,1.31,72.61,0.61,8.79,0.00,0.00,3\n156,1.51646,13.04,3.40,1.26,73.01,0.52,8.58,0.00,0.00,3\n157,1.51655,13.41,3.39,1.28,72.64,0.52,8.65,0.00,0.00,3\n158,1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0.00,0.00,3\n159,1.51776,13.53,3.41,1.52,72.04,0.58,8.79,0.00,0.00,3\n160,1.51796,13.50,3.36,1.63,71.94,0.57,8.81,0.00,0.09,3\n161,1.51832,13.33,3.34,1.54,72.14,0.56,8.99,0.00,0.00,3\n162,1.51934,13.64,3.54,0.75,72.65,0.16,8.89,0.15,0.24,3\n163,1.52211,14.19,3.78,0.91,71.36,0.23,9.14,0.00,0.37,3\n164,1.51514,14.01,2.68,3.50,69.89,1.68,5.87,2.20,0.00,5\n165,1.51915,12.73,1.85,1.86,72.69,0.60,10.09,0.00,0.00,5\n166,1.52171,11.56,1.88,1.56,72.86,0.47,11.41,0.00,0.00,5\n167,1.52151,11.03,1.71,1.56,73.44,0.58,11.62,0.00,0.00,5\n168,1.51969,12.64,0.00,1.65,73.75,0.38,11.53,0.00,0.00,5\n169,1.51666,12.86,0.00,1.83,73.88,0.97,10.17,0.00,0.00,5\n170,1.51994,13.27,0.00,1.76,73.03,0.47,11.32,0.00,0.00,5\n171,1.52369,13.44,0.00,1.58,72.22,0.32,12.24,0.00,0.00,5\n172,1.51316,13.02,0.00,3.04,70.48,6.21,6.96,0.00,0.00,5\n173,1.51321,13.00,0.00,3.02,70.70,6.21,6.93,0.00,0.00,5\n174,1.52043,13.38,0.00,1.40,72.25,0.33,12.50,0.00,0.00,5\n175,1.52058,12.85,1.61,2.17,72.18,0.76,9.70,0.24,0.51,5\n176,1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0.00,0.28,5\n177,1.51905,14.00,2.39,1.56,72.37,0.00,9.57,0.00,0.00,6\n178,1.51937,13.79,2.41,1.19,72.76,0.00,9.77,0.00,0.00,6\n179,1.51829,14.46,2.24,1.62,72.38,0.00,9.26,0.00,0.00,6\n180,1.51852,14.09,2.19,1.66,72.67,0.00,9.32,0.00,0.00,6\n181,1.51299,14.40,1.74,1.54,74.55,0.00,7.59,0.00,0.00,6\n182,1.51888,14.99,0.78,1.74,72.50,0.00,9.95,0.00,0.00,6\n183,1.51916,14.15,0.00,2.09,72.74,0.00,10.88,0.00,0.00,6\n184,1.51969,14.56,0.00,0.56,73.48,0.00,11.22,0.00,0.00,6\n185,1.51115,17.38,0.00,0.34,75.41,0.00,6.65,0.00,0.00,6\n186,1.51131,13.69,3.20,1.81,72.81,1.76,5.43,1.19,0.00,7\n187,1.51838,14.32,3.26,2.22,71.25,1.46,5.79,1.63,0.00,7\n188,1.52315,13.44,3.34,1.23,72.38,0.60,8.83,0.00,0.00,7\n189,1.52247,14.86,2.20,2.06,70.26,0.76,9.76,0.00,0.00,7\n190,1.52365,15.79,1.83,1.31,70.43,0.31,8.61,1.68,0.00,7\n191,1.51613,13.88,1.78,1.79,73.10,0.00,8.67,0.76,0.00,7\n192,1.51602,14.85,0.00,2.38,73.28,0.00,8.76,0.64,0.09,7\n193,1.51623,14.20,0.00,2.79,73.46,0.04,9.04,0.40,0.09,7\n194,1.51719,14.75,0.00,2.00,73.02,0.00,8.53,1.59,0.08,7\n195,1.51683,14.56,0.00,1.98,73.29,0.00,8.52,1.57,0.07,7\n196,1.51545,14.14,0.00,2.68,73.39,0.08,9.07,0.61,0.05,7\n197,1.51556,13.87,0.00,2.54,73.23,0.14,9.41,0.81,0.01,7\n198,1.51727,14.70,0.00,2.34,73.28,0.00,8.95,0.66,0.00,7\n199,1.51531,14.38,0.00,2.66,73.10,0.04,9.08,0.64,0.00,7\n200,1.51609,15.01,0.00,2.51,73.05,0.05,8.83,0.53,0.00,7\n201,1.51508,15.15,0.00,2.25,73.50,0.00,8.34,0.63,0.00,7\n202,1.51653,11.95,0.00,1.19,75.18,2.70,8.93,0.00,0.00,7\n203,1.51514,14.85,0.00,2.42,73.72,0.00,8.39,0.56,0.00,7\n204,1.51658,14.80,0.00,1.99,73.11,0.00,8.28,1.71,0.00,7\n205,1.51617,14.95,0.00,2.27,73.30,0.00,8.71,0.67,0.00,7\n206,1.51732,14.95,0.00,1.80,72.99,0.00,8.61,1.55,0.00,7\n207,1.51645,14.94,0.00,1.87,73.11,0.00,8.67,1.38,0.00,7\n208,1.51831,14.39,0.00,1.82,72.86,1.41,6.47,2.88,0.00,7\n209,1.51640,14.37,0.00,2.74,72.85,0.00,9.45,0.54,0.00,7\n210,1.51623,14.14,0.00,2.88,72.61,0.08,9.18,1.06,0.00,7\n211,1.51685,14.92,0.00,1.99,73.06,0.00,8.40,1.59,0.00,7\n212,1.52065,14.36,0.00,2.02,73.42,0.00,8.44,1.64,0.00,7\n213,1.51651,14.38,0.00,1.94,73.61,0.00,8.48,1.57,0.00,7\n214,1.51711,14.23,0.00,2.08,73.36,0.00,8.62,1.67,0.00,7\n'

In [65]:
cursor.execute('insert into hijaga.glassdata values(1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.00,0.00,1)')

In [67]:
mydb.commit()

# 
Insert all data at once

In [72]:
import csv
with open("glass.data", "r") as f:
    glass_data= csv.reader(f, delimiter= '\n')
    for i in glass_data:
        cursor.execute(f'insert hijaga.glassdata values({str(i[0])})')
mydb.commit()

In [75]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-1.5.2-cp311-cp311-win_amd64.whl (10.3 MB)
     ---------------------------------------- 10.3/10.3 MB 3.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jagadish\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.7-py2.py3-none-any.whl (499 kB)
     -------------------------------------- 499.4/499.4 kB 3.1 MB/s eta 0:00:00
Collecting numpy>=1.21.0
  Downloading numpy-1.24.0-cp311-cp311-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 3.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\jagadish\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.24.0 pandas-1.5.2 pytz-2022.7

In [77]:
import pandas as pd

In [79]:
pd.read_sql("select * from hijaga.glassdata", mydb)

C:\Users\JAGADISH\AppData\Local\Temp\ipykernel_12380\2173941020.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("select * from hijaga.glassdata", mydb)

     col1     col2   col3  col4  col5   col6  col7  col8  col9  col10  col11
0       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00    0.0      1
1       1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00    0.0      1
2       2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00    0.0      1
3       3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00    0.0      1
4       4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00    0.0      1
..    ...      ...    ...   ...   ...    ...   ...   ...   ...    ...    ...
210   210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06    0.0      7
211   211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59    0.0      7
212   212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64    0.0      7
213   213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57    0.0      7
214   214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67    0.0      7

[215 rows x 11 columns]

In [80]:
pd.read_sql("show databases", mydb)

C:\Users\JAGADISH\AppData\Local\Temp\ipykernel_12380\968255604.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("show databases", mydb)

             Database
0              hijaga
1  information_schema
2                jaga
3               mysql
4  performance_schema
5                 sys
6            testjaga

In [113]:
cursor.execute("select col1, col2, col3 from hijaga.glassdata")

In [114]:
cursor.fetchall()

[(1, 1.52101, 13.64),
 (1, 1.52101, 13.64),
 (2, 1.51761, 13.89),
 (3, 1.51618, 13.53),
 (5, 1.51742, 13.27),
 (6, 1.51596, 12.79),
 (7, 1.51743, 13.3),
 (8, 1.51756, 13.15),
 (9, 1.51918, 14.04),
 (10, 1.51755, 13.0),
 (11, 1.51571, 12.72),
 (12, 1.51763, 12.8),
 (13, 1.51589, 12.88),
 (14, 1.51748, 12.86),
 (15, 1.51763, 12.61),
 (16, 1.51761, 12.81),
 (17, 1.51784, 12.68),
 (18, 1.52196, 14.36),
 (19, 1.51911, 13.9),
 (20, 1.51735, 13.02),
 (21, 1.5175, 12.82),
 (22, 1.51966, 14.77),
 (23, 1.51736, 12.78),
 (24, 1.51751, 12.81),
 (25, 1.5172, 13.38),
 (26, 1.51764, 12.98),
 (27, 1.51793, 13.21),
 (28, 1.51721, 12.87),
 (29, 1.51768, 12.56),
 (30, 1.51784, 13.08),
 (31, 1.51768, 12.65),
 (32, 1.51747, 12.84),
 (33, 1.51775, 12.85),
 (34, 1.51753, 12.57),
 (35, 1.51783, 12.69),
 (36, 1.51567, 13.29),
 (37, 1.51909, 13.89),
 (38, 1.51797, 12.74),
 (39, 1.52213, 14.21),
 (40, 1.52213, 14.21),
 (41, 1.51793, 12.79),
 (42, 1.51755, 12.71),
 (43, 1.51779, 13.21),
 (44, 1.5221, 13.73),
 (45, 1.51786, 12.73),
 (46, 1.519, 13.49),
 (47, 1.51869, 13.19),
 (48, 1.52667, 13.99),
 (49, 1.52223, 13.21),
 (50, 1.51898, 13.58),
 (51, 1.5232, 13.72),
 (52, 1.51926, 13.2),
 (53, 1.51808, 13.43),
 (54, 1.51837, 13.14),
 (55, 1.51778, 13.21),
 (56, 1.51769, 12.45),
 (57, 1.51215, 12.99),
 (58, 1.51824, 12.87),
 (59, 1.51754, 13.48),
 (60, 1.51754, 13.39),
 (61, 1.51905, 13.6),
 (62, 1.51977, 13.81),
 (63, 1.52172, 13.51),
 (64, 1.52227, 14.17),
 (65, 1.52172, 13.48),
 (66, 1.52099, 13.69),
 (67, 1.52152, 13.05),
 (68, 1.52152, 13.05),
 (69, 1.52152, 13.12),
 (70, 1.523, 13.31),
 (71, 1.51574, 14.86),
 (72, 1.51848, 13.64),
 (73, 1.51593, 13.09),
 (74, 1.51631, 13.34),
 (75, 1.51596, 13.02),
 (76, 1.5159, 13.02),
 (77, 1.51645, 13.44),
 (78, 1.51627, 13.0),
 (79, 1.51613, 13.92),
 (80, 1.5159, 12.82),
 (81, 1.51592, 12.86),
 (82, 1.51593, 13.25),
 (83, 1.51646, 13.41),
 (84, 1.51594, 13.09),
 (85, 1.51409, 14.25),
 (86, 1.51625, 13.36),
 (87, 1.51569, 13.24),
 (88, 1.51645, 13.4),
 (89, 1.51618, 13.01),
 (90, 1.5164, 12.55),
 (91, 1.51841, 12.93),
 (92, 1.51605, 12.9),
 (93, 1.51588, 13.12),
 (94, 1.5159, 13.24),
 (95, 1.51629, 12.71),
 (96, 1.5186, 13.36),
 (97, 1.51841, 13.02),
 (98, 1.51743, 12.2),
 (99, 1.51689, 12.67),
 (100, 1.51811, 12.96),
 (101, 1.51655, 12.75),
 (102, 1.5173, 12.35),
 (103, 1.5182, 12.62),
 (104, 1.52725, 13.8),
 (105, 1.5241, 13.83),
 (106, 1.52475, 11.45),
 (107, 1.53125, 10.73),
 (108, 1.53393, 12.3),
 (109, 1.52222, 14.43),
 (110, 1.51818, 13.72),
 (111, 1.52664, 11.23),
 (112, 1.52739, 11.02),
 (113, 1.52777, 12.64),
 (114, 1.51892, 13.46),
 (115, 1.51847, 13.1),
 (116, 1.51846, 13.41),
 (117, 1.51829, 13.24),
 (118, 1.51708, 13.72),
 (119, 1.51673, 13.3),
 (120, 1.51652, 13.56),
 (121, 1.51844, 13.25),
 (122, 1.51663, 12.93),
 (123, 1.51687, 13.23),
 (124, 1.51707, 13.48),
 (125, 1.52177, 13.2),
 (126, 1.51872, 12.93),
 (127, 1.51667, 12.94),
 (128, 1.52081, 13.78),
 (129, 1.52068, 13.55),
 (130, 1.5202, 13.98),
 (131, 1.52177, 13.75),
 (132, 1.52614, 13.7),
 (133, 1.51813, 13.43),
 (134, 1.518, 13.71),
 (135, 1.51811, 13.33),
 (136, 1.51789, 13.19),
 (137, 1.51806, 13.0),
 (138, 1.51711, 12.89),
 (139, 1.51674, 12.79),
 (140, 1.51674, 12.87),
 (141, 1.5169, 13.33),
 (142, 1.51851, 13.2),
 (143, 1.51662, 12.85),
 (144, 1.51709, 13.0),
 (145, 1.5166, 12.99),
 (146, 1.51839, 12.85),
 (147, 1.51769, 13.65),
 (148, 1.5161, 13.33),
 (149, 1.5167, 13.24),
 (150, 1.51643, 12.16),
 (151, 1.51665, 13.14),
 (152, 1.52127, 14.32),
 (153, 1.51779, 13.64),
 (154, 1.5161, 13.42),
 (155, 1.51694, 12.86),
 (156, 1.51646, 13.04),
 (157, 1.51655, 13.41),
 (158, 1.52121, 14.03),
 (159, 1.51776, 13.53),
 (160, 1.51796, 13.5),
 (161, 1.51832, 13.33),
 (162, 1.51934, 13.64),
 (163, 1.52211, 14.19),
 (164, 1.51514, 14.01),
 (165, 1.51915, 12.73),
 (166, 1.52171, 11.56),
 (167, 1.52151, 11.03),
 (168, 1.51969, 12.64),
 (169, 1.51666, 12.86),
 (170, 1.51994, 13.27),
 (171, 1.52369, 13.44),
 (172, 1.51316, 13.02),
 (173, 1.51321, 13.0),
 (174, 1.52043, 13.38),
 (175, 1.52058, 12.85),
 (176, 1.52119, 12.97),
 (177, 1.51905, 14.0),
 (178, 1.51937, 13.79),
 (179, 1.51829, 14.46),
 (180, 1.51852, 14.09),
 (181, 1.51299, 14.4),
 (182, 1.51888, 14.99),
 (183, 1.51916, 14.15),
 (184, 1.51969, 14.56),
 (185, 1.51115, 17.38),
 (186, 1.51131, 13.69),
 (187, 1.51838, 14.32),
 (188, 1.52315, 13.44),
 (189, 1.52247, 14.86),
 (190, 1.52365, 15.79),
 (191, 1.51613, 13.88),
 (192, 1.51602, 14.85),
 (193, 1.51623, 14.2),
 (194, 1.51719, 14.75),
 (195, 1.51683, 14.56),
 (196, 1.51545, 14.14),
 (197, 1.51556, 13.87),
 (198, 1.51727, 14.7),
 (199, 1.51531, 14.38),
 (200, 1.51609, 15.01),
 (201, 1.51508, 15.15),
 (202, 1.51653, 11.95),
 (203, 1.51514, 14.85),
 (204, 1.51658, 14.8),
 (205, 1.51617, 14.95),
 (206, 1.51732, 14.95),
 (207, 1.51645, 14.94),
 (208, 1.51831, 14.39),
 (209, 1.5164, 14.37),
 (210, 1.51623, 14.14),
 (211, 1.51685, 14.92),
 (212, 1.52065, 14.36),
 (213, 1.51651, 14.38),
 (214, 1.51711, 14.23)]

In [115]:
cursor.execute("select * from hijaga.glassdata WHERE col1=7 and col11= 7")

In [116]:
cursor.fetchall()

[]

In [117]:
cursor.execute("delete from hijaga.glassdata WHERE col1= 5")

In [118]:
mydb.commit()

In [120]:
cursor.execute('select * from hijaga.glassdata WHERE col1=4')

In [121]:
cursor.fetchall()       #since we deleted, we cant able to find anything

[]

In [5]:
cursor.execute("UPDATE hijaga.glassdata SET col1= 6, col2=7.8 where col1=1")

In [6]:
mydb.commit()

In [7]:
cursor.execute("select * from hijaga.glassdata")

In [8]:
cursor.fetchall()

[(6, 7.8, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (6, 7.8, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (2, 1.51761, 13.89, 3.6, 1.36, 72.73, 0.48, 7.83, 0.0, 0.0, 1),
 (3, 1.51618, 13.53, 3.55, 1.54, 72.99, 0.39, 7.78, 0.0, 0.0, 1),
 (6, 1.51596, 12.79, 3.61, 1.62, 72.97, 0.64, 8.07, 0.0, 0.26, 1),
 (7, 1.51743, 13.3, 3.6, 1.14, 73.09, 0.58, 8.17, 0.0, 0.0, 1),
 (8, 1.51756, 13.15, 3.61, 1.05, 73.24, 0.57, 8.24, 0.0, 0.0, 1),
 (9, 1.51918, 14.04, 3.58, 1.37, 72.08, 0.56, 8.3, 0.0, 0.0, 1),
 (10, 1.51755, 13.0, 3.6, 1.36, 72.99, 0.57, 8.4, 0.0, 0.11, 1),
 (11, 1.51571, 12.72, 3.46, 1.56, 73.2, 0.67, 8.09, 0.0, 0.24, 1),
 (12, 1.51763, 12.8, 3.66, 1.27, 73.01, 0.6, 8.56, 0.0, 0.0, 1),
 (13, 1.51589, 12.88, 3.43, 1.4, 73.28, 0.69, 8.05, 0.0, 0.24, 1),
 (14, 1.51748, 12.86, 3.56, 1.27, 73.21, 0.54, 8.38, 0.0, 0.17, 1),
 (15, 1.51763, 12.61, 3.59, 1.31, 73.29, 0.58, 8.5, 0.0, 0.0, 1),
 (16, 1.51761, 12.81, 3.54, 1.23, 73.24, 0.58, 8.39, 0.0, 0.0, 1),
 (17, 1.51784, 12.68, 3.67, 1.16, 73.11, 0.61, 8.7, 0.0, 0.0, 1),
 (18, 1.52196, 14.36, 3.85, 0.89, 71.36, 0.15, 9.15, 0.0, 0.0, 1),
 (19, 1.51911, 13.9, 3.73, 1.18, 72.12, 0.06, 8.89, 0.0, 0.0, 1),
 (20, 1.51735, 13.02, 3.54, 1.69, 72.73, 0.54, 8.44, 0.0, 0.07, 1),
 (21, 1.5175, 12.82, 3.55, 1.49, 72.75, 0.54, 8.52, 0.0, 0.19, 1),
 (22, 1.51966, 14.77, 3.75, 0.29, 72.02, 0.03, 9.0, 0.0, 0.0, 1),
 (23, 1.51736, 12.78, 3.62, 1.29, 72.79, 0.59, 8.7, 0.0, 0.0, 1),
 (24, 1.51751, 12.81, 3.57, 1.35, 73.02, 0.62, 8.59, 0.0, 0.0, 1),
 (25, 1.5172, 13.38, 3.5, 1.15, 72.85, 0.5, 8.43, 0.0, 0.0, 1),
 (26, 1.51764, 12.98, 3.54, 1.21, 73.0, 0.65, 8.53, 0.0, 0.0, 1),
 (27, 1.51793, 13.21, 3.48, 1.41, 72.64, 0.59, 8.43, 0.0, 0.0, 1),
 (28, 1.51721, 12.87, 3.48, 1.33, 73.04, 0.56, 8.43, 0.0, 0.0, 1),
 (29, 1.51768, 12.56, 3.52, 1.43, 73.15, 0.57, 8.54, 0.0, 0.0, 1),
 (30, 1.51784, 13.08, 3.49, 1.28, 72.86, 0.6, 8.49, 0.0, 0.0, 1),
 (31, 1.51768, 12.65, 3.56, 1.3, 73.08, 0.61, 8.69, 0.0, 0.14, 1),
 (32, 1.51747, 12.84, 3.5, 1.14, 73.27, 0.56, 8.55, 0.0, 0.0, 1),
 (33, 1.51775, 12.85, 3.48, 1.23, 72.97, 0.61, 8.56, 0.09, 0.22, 1),
 (34, 1.51753, 12.57, 3.47, 1.38, 73.39, 0.6, 8.55, 0.0, 0.06, 1),
 (35, 1.51783, 12.69, 3.54, 1.34, 72.95, 0.57, 8.75, 0.0, 0.0, 1),
 (36, 1.51567, 13.29, 3.45, 1.21, 72.74, 0.56, 8.57, 0.0, 0.0, 1),
 (37, 1.51909, 13.89, 3.53, 1.32, 71.81, 0.51, 8.78, 0.11, 0.0, 1),
 (38, 1.51797, 12.74, 3.48, 1.35, 72.96, 0.64, 8.68, 0.0, 0.0, 1),
 (39, 1.52213, 14.21, 3.82, 0.47, 71.77, 0.11, 9.57, 0.0, 0.0, 1),
 (40, 1.52213, 14.21, 3.82, 0.47, 71.77, 0.11, 9.57, 0.0, 0.0, 1),
 (41, 1.51793, 12.79, 3.5, 1.12, 73.03, 0.64, 8.77, 0.0, 0.0, 1),
 (42, 1.51755, 12.71, 3.42, 1.2, 73.2, 0.59, 8.64, 0.0, 0.0, 1),
 (43, 1.51779, 13.21, 3.39, 1.33, 72.76, 0.59, 8.59, 0.0, 0.0, 1),
 (44, 1.5221, 13.73, 3.84, 0.72, 71.76, 0.17, 9.74, 0.0, 0.0, 1),
 (45, 1.51786, 12.73, 3.43, 1.19, 72.95, 0.62, 8.76, 0.0, 0.3, 1),
 (46, 1.519, 13.49, 3.48, 1.35, 71.95, 0.55, 9.0, 0.0, 0.0, 1),
 (47, 1.51869, 13.19, 3.37, 1.18, 72.72, 0.57, 8.83, 0.0, 0.16, 1),
 (48, 1.52667, 13.99, 3.7, 0.71, 71.57, 0.02, 9.82, 0.0, 0.1, 1),
 (49, 1.52223, 13.21, 3.77, 0.79, 71.99, 0.13, 10.02, 0.0, 0.0, 1),
 (50, 1.51898, 13.58, 3.35, 1.23, 72.08, 0.59, 8.91, 0.0, 0.0, 1),
 (51, 1.5232, 13.72, 3.72, 0.51, 71.75, 0.09, 10.06, 0.0, 0.16, 1),
 (52, 1.51926, 13.2, 3.33, 1.28, 72.36, 0.6, 9.14, 0.0, 0.11, 1),
 (53, 1.51808, 13.43, 2.87, 1.19, 72.84, 0.55, 9.03, 0.0, 0.0, 1),
 (54, 1.51837, 13.14, 2.84, 1.28, 72.85, 0.55, 9.07, 0.0, 0.0, 1),
 (55, 1.51778, 13.21, 2.81, 1.29, 72.98, 0.51, 9.02, 0.0, 0.09, 1),
 (56, 1.51769, 12.45, 2.71, 1.29, 73.7, 0.56, 9.06, 0.0, 0.24, 1),
 (57, 1.51215, 12.99, 3.47, 1.12, 72.98, 0.62, 8.35, 0.0, 0.31, 1),
 (58, 1.51824, 12.87, 3.48, 1.29, 72.95, 0.6, 8.43, 0.0, 0.0, 1),
 (59, 1.51754, 13.48, 3.74, 1.17, 72.99, 0.59, 8.03, 0.0, 0.0, 1),
 (60, 1.51754, 13.39, 3.66, 1.19, 72.79, 0.57, 8.27, 0.0, 0.11, 1),
 (61, 1.51905, 13.6, 3.62, 1.11, 72.64, 0.14, 8.76, 0.0, 0.0, 1),
 (62, 1.51977, 13.81, 3.58, 1.32, 71.72, 0.12, 8.67, 0.69, 0.0, 1),
 (63, 1.52172, 13.51, 3.86, 0.88, 71.79, 0.23, 9.54, 0.0, 0.11, 1),
 (64, 1.52227, 14.17, 3.81, 0.78, 71.35, 0.0, 9.69, 0.0, 0.0, 1),
 (65, 1.52172, 13.48, 3.74, 0.9, 72.01, 0.18, 9.61, 0.0, 0.07, 1),
 (66, 1.52099, 13.69, 3.59, 1.12, 71.96, 0.09, 9.4, 0.0, 0.0, 1),
 (67, 1.52152, 13.05, 3.65, 0.87, 72.22, 0.19, 9.85, 0.0, 0.17, 1),
 (68, 1.52152, 13.05, 3.65, 0.87, 72.32, 0.19, 9.85, 0.0, 0.17, 1),
 (69, 1.52152, 13.12, 3.58, 0.9, 72.2, 0.23, 9.82, 0.0, 0.16, 1),
 (70, 1.523, 13.31, 3.58, 0.82, 71.99, 0.12, 10.17, 0.0, 0.03, 1),
 (71, 1.51574, 14.86, 3.67, 1.74, 71.87, 0.16, 7.36, 0.0, 0.12, 2),
 (72, 1.51848, 13.64, 3.87, 1.27, 71.96, 0.54, 8.32, 0.0, 0.32, 2),
 (73, 1.51593, 13.09, 3.59, 1.52, 73.1, 0.67, 7.83, 0.0, 0.0, 2),
 (74, 1.51631, 13.34, 3.57, 1.57, 72.87, 0.61, 7.89, 0.0, 0.0, 2),
 (75, 1.51596, 13.02, 3.56, 1.54, 73.11, 0.72, 7.9, 0.0, 0.0, 2),
 (76, 1.5159, 13.02, 3.58, 1.51, 73.12, 0.69, 7.96, 0.0, 0.0, 2),
 (77, 1.51645, 13.44, 3.61, 1.54, 72.39, 0.66, 8.03, 0.0, 0.0, 2),
 (78, 1.51627, 13.0, 3.58, 1.54, 72.83, 0.61, 8.04, 0.0, 0.0, 2),
 (79, 1.51613, 13.92, 3.52, 1.25, 72.88, 0.37, 7.94, 0.0, 0.14, 2),
 (80, 1.5159, 12.82, 3.52, 1.9, 72.86, 0.69, 7.97, 0.0, 0.0, 2),
 (81, 1.51592, 12.86, 3.52, 2.12, 72.66, 0.69, 7.97, 0.0, 0.0, 2),
 (82, 1.51593, 13.25, 3.45, 1.43, 73.17, 0.61, 7.86, 0.0, 0.0, 2),
 (83, 1.51646, 13.41, 3.55, 1.25, 72.81, 0.68, 8.1, 0.0, 0.0, 2),
 (84, 1.51594, 13.09, 3.52, 1.55, 72.87, 0.68, 8.05, 0.0, 0.09, 2),
 (85, 1.51409, 14.25, 3.09, 2.08, 72.28, 1.1, 7.08, 0.0, 0.0, 2),
 (86, 1.51625, 13.36, 3.58, 1.49, 72.72, 0.45, 8.21, 0.0, 0.0, 2),
 (87, 1.51569, 13.24, 3.49, 1.47, 73.25, 0.38, 8.03, 0.0, 0.0, 2),
 (88, 1.51645, 13.4, 3.49, 1.52, 72.65, 0.67, 8.08, 0.0, 0.1, 2),
 (89, 1.51618, 13.01, 3.5, 1.48, 72.89, 0.6, 8.12, 0.0, 0.0, 2),
 (90, 1.5164, 12.55, 3.48, 1.87, 73.23, 0.63, 8.08, 0.0, 0.09, 2),
 (91, 1.51841, 12.93, 3.74, 1.11, 72.28, 0.64, 8.96, 0.0, 0.22, 2),
 (92, 1.51605, 12.9, 3.44, 1.45, 73.06, 0.44, 8.27, 0.0, 0.0, 2),
 (93, 1.51588, 13.12, 3.41, 1.58, 73.26, 0.07, 8.39, 0.0, 0.19, 2),
 (94, 1.5159, 13.24, 3.34, 1.47, 73.1, 0.39, 8.22, 0.0, 0.0, 2),
 (95, 1.51629, 12.71, 3.33, 1.49, 73.28, 0.67, 8.24, 0.0, 0.0, 2),
 (96, 1.5186, 13.36, 3.43, 1.43, 72.26, 0.51, 8.6, 0.0, 0.0, 2),
 (97, 1.51841, 13.02, 3.62, 1.06, 72.34, 0.64, 9.13, 0.0, 0.15, 2),
 (98, 1.51743, 12.2, 3.25, 1.16, 73.55, 0.62, 8.9, 0.0, 0.24, 2),
 (99, 1.51689, 12.67, 2.88, 1.71, 73.21, 0.73, 8.54, 0.0, 0.0, 2),
 (100, 1.51811, 12.96, 2.96, 1.43, 72.92, 0.6, 8.79, 0.14, 0.0, 2),
 (101, 1.51655, 12.75, 2.85, 1.44, 73.27, 0.57, 8.79, 0.11, 0.22, 2),
 (102, 1.5173, 12.35, 2.72, 1.63, 72.87, 0.7, 9.23, 0.0, 0.0, 2),
 (103, 1.5182, 12.62, 2.76, 0.83, 73.81, 0.35, 9.42, 0.0, 0.2, 2),
 (104, 1.52725, 13.8, 3.15, 0.66, 70.57, 0.08, 11.64, 0.0, 0.0, 2),
 (105, 1.5241, 13.83, 2.9, 1.17, 71.15, 0.08, 10.79, 0.0, 0.0, 2),
 (106, 1.52475, 11.45, 0.0, 1.88, 72.19, 0.81, 13.24, 0.0, 0.34, 2),
 (107, 1.53125, 10.73, 0.0, 2.1, 69.81, 0.58, 13.3, 3.15, 0.28, 2),
 (108, 1.53393, 12.3, 0.0, 1.0, 70.16, 0.12, 16.19, 0.0, 0.24, 2),
 (109, 1.52222, 14.43, 0.0, 1.0, 72.67, 0.1, 11.52, 0.0, 0.08, 2),
 (110, 1.51818, 13.72, 0.0, 0.56, 74.45, 0.0, 10.99, 0.0, 0.0, 2),
 (111, 1.52664, 11.23, 0.0, 0.77, 73.21, 0.0, 14.68, 0.0, 0.0, 2),
 (112, 1.52739, 11.02, 0.0, 0.75, 73.08, 0.0, 14.96, 0.0, 0.0, 2),
 (113, 1.52777, 12.64, 0.0, 0.67, 72.02, 0.06, 14.4, 0.0, 0.0, 2),
 (114, 1.51892, 13.46, 3.83, 1.26, 72.55, 0.57, 8.21, 0.0, 0.14, 2),
 (115, 1.51847, 13.1, 3.97, 1.19, 72.44, 0.6, 8.43, 0.0, 0.0, 2),
 (116, 1.51846, 13.41, 3.89, 1.33, 72.38, 0.51, 8.28, 0.0, 0.0, 2),
 (117, 1.51829, 13.24, 3.9, 1.41, 72.33, 0.55, 8.31, 0.0, 0.1, 2),
 (118, 1.51708, 13.72, 3.68, 1.81, 72.06, 0.64, 7.88, 0.0, 0.0, 2),
 (119, 1.51673, 13.3, 3.64, 1.53, 72.53, 0.65, 8.03, 0.0, 0.29, 2),
 (120, 1.51652, 13.56, 3.57, 1.47, 72.45, 0.64, 7.96, 0.0, 0.0, 2),
 (121, 1.51844, 13.25, 3.76, 1.32, 72.4, 0.58, 8.42, 0.0, 0.0, 2),
 (122, 1.51663, 12.93, 3.54, 1.62, 72.96, 0.64, 8.03, 0.0, 0.21, 2),
 (123, 1.51687, 13.23, 3.54, 1.48, 72.84, 0.56, 8.1, 0.0, 0.0, 2),
 (124, 1.51707, 13.48, 3.48, 1.71, 72.52, 0.62, 7.99, 0.0, 0.0, 2),
 (125, 1.52177, 13.2, 3.68, 1.15, 72.75, 0.54, 8.52, 0.0, 0.0, 2),
 (126, 1.51872, 12.93, 3.66, 1.56, 72.51, 0.58, 8.55, 0.0, 0.12, 2),
 (127, 1.51667, 12.94, 3.61, 1.26, 72.75, 0.56, 8.6, 0.0, 0.0, 2),
 (128, 1.52081, 13.78, 2.28, 1.43, 71.99, 0.49, 9.85, 0.0, 0.17, 2),
 (129, 1.52068, 13.55, 2.09, 1.67, 72.18, 0.53, 9.57, 0.27, 0.17, 2),
 (130, 1.5202, 13.98, 1.35, 1.63, 71.76, 0.39, 10.56, 0.0, 0.18, 2),
 (131, 1.52177, 13.75, 1.01, 1.36, 72.19, 0.33, 11.14, 0.0, 0.0, 2),
 (132, 1.52614, 13.7, 0.0, 1.36, 71.24, 0.19, 13.44, 0.0, 0.1, 2),
 (133, 1.51813, 13.43, 3.98, 1.18, 72.49, 0.58, 8.15, 0.0, 0.0, 2),
 (134, 1.518, 13.71, 3.93, 1.54, 71.81, 0.54, 8.21, 0.0, 0.15, 2),
 (135, 1.51811, 13.33, 3.85, 1.25, 72.78, 0.52, 8.12, 0.0, 0.0, 2),
 (136, 1.51789, 13.19, 3.9, 1.3, 72.33, 0.55, 8.44, 0.0, 0.28, 2),
 (137, 1.51806, 13.0, 3.8, 1.08, 73.07, 0.56, 8.38, 0.0, 0.12, 2),
 (138, 1.51711, 12.89, 3.62, 1.57, 72.96, 0.61, 8.11, 0.0, 0.0, 2),
 (139, 1.51674, 12.79, 3.52, 1.54, 73.36, 0.66, 7.9, 0.0, 0.0, 2),
 (140, 1.51674, 12.87, 3.56, 1.64, 73.14, 0.65, 7.99, 0.0, 0.0, 2),
 (141, 1.5169, 13.33, 3.54, 1.61, 72.54, 0.68, 8.11, 0.0, 0.0, 2),
 (142, 1.51851, 13.2, 3.63, 1.07, 72.83, 0.57, 8.41, 0.09, 0.17, 2),
 (143, 1.51662, 12.85, 3.51, 1.44, 73.01, 0.68, 8.23, 0.06, 0.25, 2),
 (144, 1.51709, 13.0, 3.47, 1.79, 72.72, 0.66, 8.18, 0.0, 0.0, 2),
 (145, 1.5166, 12.99, 3.18, 1.23, 72.97, 0.58, 8.81, 0.0, 0.24, 2),
 (146, 1.51839, 12.85, 3.67, 1.24, 72.57, 0.62, 8.68, 0.0, 0.35, 2),
 (147, 1.51769, 13.65, 3.66, 1.11, 72.77, 0.11, 8.6, 0.0, 0.0, 3),
 (148, 1.5161, 13.33, 3.53, 1.34, 72.67, 0.56, 8.33, 0.0, 0.0, 3),
 (149, 1.5167, 13.24, 3.57, 1.38, 72.7, 0.56, 8.44, 0.0, 0.1, 3),
 (150, 1.51643, 12.16, 3.52, 1.35, 72.89, 0.57, 8.53, 0.0, 0.0, 3),
 (151, 1.51665, 13.14, 3.45, 1.76, 72.48, 0.6, 8.38, 0.0, 0.17, 3),
 (152, 1.52127, 14.32, 3.9, 0.83, 71.5, 0.0, 9.49, 0.0, 0.0, 3),
 (153, 1.51779, 13.64, 3.65, 0.65, 73.0, 0.06, 8.93, 0.0, 0.0, 3),
 (154, 1.5161, 13.42, 3.4, 1.22, 72.69, 0.59, 8.32, 0.0, 0.0, 3),
 (155, 1.51694, 12.86, 3.58, 1.31, 72.61, 0.61, 8.79, 0.0, 0.0, 3),
 (156, 1.51646, 13.04, 3.4, 1.26, 73.01, 0.52, 8.58, 0.0, 0.0, 3),
 (157, 1.51655, 13.41, 3.39, 1.28, 72.64, 0.52, 8.65, 0.0, 0.0, 3),
 (158, 1.52121, 14.03, 3.76, 0.58, 71.79, 0.11, 9.65, 0.0, 0.0, 3),
 (159, 1.51776, 13.53, 3.41, 1.52, 72.04, 0.58, 8.79, 0.0, 0.0, 3),
 (160, 1.51796, 13.5, 3.36, 1.63, 71.94, 0.57, 8.81, 0.0, 0.09, 3),
 (161, 1.51832, 13.33, 3.34, 1.54, 72.14, 0.56, 8.99, 0.0, 0.0, 3),
 (162, 1.51934, 13.64, 3.54, 0.75, 72.65, 0.16, 8.89, 0.15, 0.24, 3),
 (163, 1.52211, 14.19, 3.78, 0.91, 71.36, 0.23, 9.14, 0.0, 0.37, 3),
 (164, 1.51514, 14.01, 2.68, 3.5, 69.89, 1.68, 5.87, 2.2, 0.0, 5),
 (165, 1.51915, 12.73, 1.85, 1.86, 72.69, 0.6, 10.09, 0.0, 0.0, 5),
 (166, 1.52171, 11.56, 1.88, 1.56, 72.86, 0.47, 11.41, 0.0, 0.0, 5),
 (167, 1.52151, 11.03, 1.71, 1.56, 73.44, 0.58, 11.62, 0.0, 0.0, 5),
 (168, 1.51969, 12.64, 0.0, 1.65, 73.75, 0.38, 11.53, 0.0, 0.0, 5),
 (169, 1.51666, 12.86, 0.0, 1.83, 73.88, 0.97, 10.17, 0.0, 0.0, 5),
 (170, 1.51994, 13.27, 0.0, 1.76, 73.03, 0.47, 11.32, 0.0, 0.0, 5),
 (171, 1.52369, 13.44, 0.0, 1.58, 72.22, 0.32, 12.24, 0.0, 0.0, 5),
 (172, 1.51316, 13.02, 0.0, 3.04, 70.48, 6.21, 6.96, 0.0, 0.0, 5),
 (173, 1.51321, 13.0, 0.0, 3.02, 70.7, 6.21, 6.93, 0.0, 0.0, 5),
 (174, 1.52043, 13.38, 0.0, 1.4, 72.25, 0.33, 12.5, 0.0, 0.0, 5),
 (175, 1.52058, 12.85, 1.61, 2.17, 72.18, 0.76, 9.7, 0.24, 0.51, 5),
 (176, 1.52119, 12.97, 0.33, 1.51, 73.39, 0.13, 11.27, 0.0, 0.28, 5),
 (177, 1.51905, 14.0, 2.39, 1.56, 72.37, 0.0, 9.57, 0.0, 0.0, 6),
 (178, 1.51937, 13.79, 2.41, 1.19, 72.76, 0.0, 9.77, 0.0, 0.0, 6),
 (179, 1.51829, 14.46, 2.24, 1.62, 72.38, 0.0, 9.26, 0.0, 0.0, 6),
 (180, 1.51852, 14.09, 2.19, 1.66, 72.67, 0.0, 9.32, 0.0, 0.0, 6),
 (181, 1.51299, 14.4, 1.74, 1.54, 74.55, 0.0, 7.59, 0.0, 0.0, 6),
 (182, 1.51888, 14.99, 0.78, 1.74, 72.5, 0.0, 9.95, 0.0, 0.0, 6),
 (183, 1.51916, 14.15, 0.0, 2.09, 72.74, 0.0, 10.88, 0.0, 0.0, 6),
 (184, 1.51969, 14.56, 0.0, 0.56, 73.48, 0.0, 11.22, 0.0, 0.0, 6),
 (185, 1.51115, 17.38, 0.0, 0.34, 75.41, 0.0, 6.65, 0.0, 0.0, 6),
 (186, 1.51131, 13.69, 3.2, 1.81, 72.81, 1.76, 5.43, 1.19, 0.0, 7),
 (187, 1.51838, 14.32, 3.26, 2.22, 71.25, 1.46, 5.79, 1.63, 0.0, 7),
 (188, 1.52315, 13.44, 3.34, 1.23, 72.38, 0.6, 8.83, 0.0, 0.0, 7),
 (189, 1.52247, 14.86, 2.2, 2.06, 70.26, 0.76, 9.76, 0.0, 0.0, 7),
 (190, 1.52365, 15.79, 1.83, 1.31, 70.43, 0.31, 8.61, 1.68, 0.0, 7),
 (191, 1.51613, 13.88, 1.78, 1.79, 73.1, 0.0, 8.67, 0.76, 0.0, 7),
 (192, 1.51602, 14.85, 0.0, 2.38, 73.28, 0.0, 8.76, 0.64, 0.09, 7),
 (193, 1.51623, 14.2, 0.0, 2.79, 73.46, 0.04, 9.04, 0.4, 0.09, 7),
 (194, 1.51719, 14.75, 0.0, 2.0, 73.02, 0.0, 8.53, 1.59, 0.08, 7),
 (195, 1.51683, 14.56, 0.0, 1.98, 73.29, 0.0, 8.52, 1.57, 0.07, 7),
 (196, 1.51545, 14.14, 0.0, 2.68, 73.39, 0.08, 9.07, 0.61, 0.05, 7),
 (197, 1.51556, 13.87, 0.0, 2.54, 73.23, 0.14, 9.41, 0.81, 0.01, 7),
 (198, 1.51727, 14.7, 0.0, 2.34, 73.28, 0.0, 8.95, 0.66, 0.0, 7),
 (199, 1.51531, 14.38, 0.0, 2.66, 73.1, 0.04, 9.08, 0.64, 0.0, 7),
 (200, 1.51609, 15.01, 0.0, 2.51, 73.05, 0.05, 8.83, 0.53, 0.0, 7),
 (201, 1.51508, 15.15, 0.0, 2.25, 73.5, 0.0, 8.34, 0.63, 0.0, 7),
 (202, 1.51653, 11.95, 0.0, 1.19, 75.18, 2.7, 8.93, 0.0, 0.0, 7),
 (203, 1.51514, 14.85, 0.0, 2.42, 73.72, 0.0, 8.39, 0.56, 0.0, 7),
 (204, 1.51658, 14.8, 0.0, 1.99, 73.11, 0.0, 8.28, 1.71, 0.0, 7),
 (205, 1.51617, 14.95, 0.0, 2.27, 73.3, 0.0, 8.71, 0.67, 0.0, 7),
 (206, 1.51732, 14.95, 0.0, 1.8, 72.99, 0.0, 8.61, 1.55, 0.0, 7),
 (207, 1.51645, 14.94, 0.0, 1.87, 73.11, 0.0, 8.67, 1.38, 0.0, 7),
 (208, 1.51831, 14.39, 0.0, 1.82, 72.86, 1.41, 6.47, 2.88, 0.0, 7),
 (209, 1.5164, 14.37, 0.0, 2.74, 72.85, 0.0, 9.45, 0.54, 0.0, 7),
 (210, 1.51623, 14.14, 0.0, 2.88, 72.61, 0.08, 9.18, 1.06, 0.0, 7),
 (211, 1.51685, 14.92, 0.0, 1.99, 73.06, 0.0, 8.4, 1.59, 0.0, 7),
 (212, 1.52065, 14.36, 0.0, 2.02, 73.42, 0.0, 8.44, 1.64, 0.0, 7),
 (213, 1.51651, 14.38, 0.0, 1.94, 73.61, 0.0, 8.48, 1.57, 0.0, 7),
 (214, 1.51711, 14.23, 0.0, 2.08, 73.36, 0.0, 8.62, 1.67, 0.0, 7)]

In [9]:
cursor.execute("select * from hijaga.glassdata where col1= 6")

In [10]:
cursor.fetchall()

[(6, 7.8, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (6, 7.8, 13.64, 4.49, 1.1, 71.78, 0.06, 8.75, 0.0, 0.0, 1),
 (6, 1.51596, 12.79, 3.61, 1.62, 72.97, 0.64, 8.07, 0.0, 0.26, 1)]

In [23]:
cursor.execute("select count(col1) , col2   from hijaga.glassdata group by col2 ")

In [24]:
cursor.fetchall()

[(2, 7.8),
 (2, 1.51761),
 (2, 1.51618),
 (2, 1.51596),
 (2, 1.51743),
 (1, 1.51756),
 (1, 1.51918),
 (2, 1.51755),
 (1, 1.51571),
 (2, 1.51763),
 (1, 1.51589),
 (1, 1.51748),
 (2, 1.51784),
 (1, 1.52196),
 (1, 1.51911),
 (1, 1.51735),
 (1, 1.5175),
 (1, 1.51966),
 (1, 1.51736),
 (1, 1.51751),
 (1, 1.5172),
 (1, 1.51764),
 (2, 1.51793),
 (1, 1.51721),
 (2, 1.51768),
 (1, 1.51747),
 (1, 1.51775),
 (1, 1.51753),
 (1, 1.51783),
 (1, 1.51567),
 (1, 1.51909),
 (1, 1.51797),
 (2, 1.52213),
 (2, 1.51779),
 (1, 1.5221),
 (1, 1.51786),
 (1, 1.519),
 (1, 1.51869),
 (1, 1.52667),
 (1, 1.52223),
 (1, 1.51898),
 (1, 1.5232),
 (1, 1.51926),
 (1, 1.51808),
 (1, 1.51837),
 (1, 1.51778),
 (2, 1.51769),
 (1, 1.51215),
 (1, 1.51824),
 (2, 1.51754),
 (2, 1.51905),
 (1, 1.51977),
 (2, 1.52172),
 (1, 1.52227),
 (1, 1.52099),
 (3, 1.52152),
 (1, 1.523),
 (1, 1.51574),
 (1, 1.51848),
 (2, 1.51593),
 (1, 1.51631),
 (3, 1.5159),
 (3, 1.51645),
 (1, 1.51627),
 (2, 1.51613),
 (1, 1.51592),
 (2, 1.51646),
 (1, 1.51594),
 (1, 1.51409),
 (1, 1.51625),
 (1, 1.51569),
 (2, 1.5164),
 (2, 1.51841),
 (1, 1.51605),
 (1, 1.51588),
 (1, 1.51629),
 (1, 1.5186),
 (1, 1.51689),
 (2, 1.51811),
 (2, 1.51655),
 (1, 1.5173),
 (1, 1.5182),
 (1, 1.52725),
 (1, 1.5241),
 (1, 1.52475),
 (1, 1.53125),
 (1, 1.53393),
 (1, 1.52222),
 (1, 1.51818),
 (1, 1.52664),
 (1, 1.52739),
 (1, 1.52777),
 (1, 1.51892),
 (1, 1.51847),
 (1, 1.51846),
 (2, 1.51829),
 (1, 1.51708),
 (1, 1.51673),
 (1, 1.51652),
 (1, 1.51844),
 (1, 1.51663),
 (1, 1.51687),
 (1, 1.51707),
 (2, 1.52177),
 (1, 1.51872),
 (1, 1.51667),
 (1, 1.52081),
 (1, 1.52068),
 (1, 1.5202),
 (1, 1.52614),
 (1, 1.51813),
 (1, 1.518),
 (1, 1.51789),
 (1, 1.51806),
 (2, 1.51711),
 (2, 1.51674),
 (1, 1.5169),
 (1, 1.51851),
 (1, 1.51662),
 (1, 1.51709),
 (1, 1.5166),
 (1, 1.51839),
 (2, 1.5161),
 (1, 1.5167),
 (1, 1.51643),
 (1, 1.51665),
 (1, 1.52127),
 (1, 1.51694),
 (1, 1.52121),
 (1, 1.51776),
 (1, 1.51796),
 (1, 1.51832),
 (1, 1.51934),
 (1, 1.52211),
 (2, 1.51514),
 (1, 1.51915),
 (1, 1.52171),
 (1, 1.52151),
 (2, 1.51969),
 (1, 1.51666),
 (1, 1.51994),
 (1, 1.52369),
 (1, 1.51316),
 (1, 1.51321),
 (1, 1.52043),
 (1, 1.52058),
 (1, 1.52119),
 (1, 1.51937),
 (1, 1.51852),
 (1, 1.51299),
 (1, 1.51888),
 (1, 1.51916),
 (1, 1.51115),
 (1, 1.51131),
 (1, 1.51838),
 (1, 1.52315),
 (1, 1.52247),
 (1, 1.52365),
 (1, 1.51602),
 (2, 1.51623),
 (1, 1.51719),
 (1, 1.51683),
 (1, 1.51545),
 (1, 1.51556),
 (1, 1.51727),
 (1, 1.51531),
 (1, 1.51609),
 (1, 1.51508),
 (1, 1.51653),
 (1, 1.51658),
 (1, 1.51617),
 (1, 1.51732),
 (1, 1.51831),
 (1, 1.51685),
 (1, 1.52065),
 (1, 1.51651)]

In [32]:
cursor.execute("select count(*), col2 from hijaga.glassdata group by col2 ")

In [33]:
cursor.fetchall()

[(2, 7.8),
 (2, 1.51761),
 (2, 1.51618),
 (2, 1.51596),
 (2, 1.51743),
 (1, 1.51756),
 (1, 1.51918),
 (2, 1.51755),
 (1, 1.51571),
 (2, 1.51763),
 (1, 1.51589),
 (1, 1.51748),
 (2, 1.51784),
 (1, 1.52196),
 (1, 1.51911),
 (1, 1.51735),
 (1, 1.5175),
 (1, 1.51966),
 (1, 1.51736),
 (1, 1.51751),
 (1, 1.5172),
 (1, 1.51764),
 (2, 1.51793),
 (1, 1.51721),
 (2, 1.51768),
 (1, 1.51747),
 (1, 1.51775),
 (1, 1.51753),
 (1, 1.51783),
 (1, 1.51567),
 (1, 1.51909),
 (1, 1.51797),
 (2, 1.52213),
 (2, 1.51779),
 (1, 1.5221),
 (1, 1.51786),
 (1, 1.519),
 (1, 1.51869),
 (1, 1.52667),
 (1, 1.52223),
 (1, 1.51898),
 (1, 1.5232),
 (1, 1.51926),
 (1, 1.51808),
 (1, 1.51837),
 (1, 1.51778),
 (2, 1.51769),
 (1, 1.51215),
 (1, 1.51824),
 (2, 1.51754),
 (2, 1.51905),
 (1, 1.51977),
 (2, 1.52172),
 (1, 1.52227),
 (1, 1.52099),
 (3, 1.52152),
 (1, 1.523),
 (1, 1.51574),
 (1, 1.51848),
 (2, 1.51593),
 (1, 1.51631),
 (3, 1.5159),
 (3, 1.51645),
 (1, 1.51627),
 (2, 1.51613),
 (1, 1.51592),
 (2, 1.51646),
 (1, 1.51594),
 (1, 1.51409),
 (1, 1.51625),
 (1, 1.51569),
 (2, 1.5164),
 (2, 1.51841),
 (1, 1.51605),
 (1, 1.51588),
 (1, 1.51629),
 (1, 1.5186),
 (1, 1.51689),
 (2, 1.51811),
 (2, 1.51655),
 (1, 1.5173),
 (1, 1.5182),
 (1, 1.52725),
 (1, 1.5241),
 (1, 1.52475),
 (1, 1.53125),
 (1, 1.53393),
 (1, 1.52222),
 (1, 1.51818),
 (1, 1.52664),
 (1, 1.52739),
 (1, 1.52777),
 (1, 1.51892),
 (1, 1.51847),
 (1, 1.51846),
 (2, 1.51829),
 (1, 1.51708),
 (1, 1.51673),
 (1, 1.51652),
 (1, 1.51844),
 (1, 1.51663),
 (1, 1.51687),
 (1, 1.51707),
 (2, 1.52177),
 (1, 1.51872),
 (1, 1.51667),
 (1, 1.52081),
 (1, 1.52068),
 (1, 1.5202),
 (1, 1.52614),
 (1, 1.51813),
 (1, 1.518),
 (1, 1.51789),
 (1, 1.51806),
 (2, 1.51711),
 (2, 1.51674),
 (1, 1.5169),
 (1, 1.51851),
 (1, 1.51662),
 (1, 1.51709),
 (1, 1.5166),
 (1, 1.51839),
 (2, 1.5161),
 (1, 1.5167),
 (1, 1.51643),
 (1, 1.51665),
 (1, 1.52127),
 (1, 1.51694),
 (1, 1.52121),
 (1, 1.51776),
 (1, 1.51796),
 (1, 1.51832),
 (1, 1.51934),
 (1, 1.52211),
 (2, 1.51514),
 (1, 1.51915),
 (1, 1.52171),
 (1, 1.52151),
 (2, 1.51969),
 (1, 1.51666),
 (1, 1.51994),
 (1, 1.52369),
 (1, 1.51316),
 (1, 1.51321),
 (1, 1.52043),
 (1, 1.52058),
 (1, 1.52119),
 (1, 1.51937),
 (1, 1.51852),
 (1, 1.51299),
 (1, 1.51888),
 (1, 1.51916),
 (1, 1.51115),
 (1, 1.51131),
 (1, 1.51838),
 (1, 1.52315),
 (1, 1.52247),
 (1, 1.52365),
 (1, 1.51602),
 (2, 1.51623),
 (1, 1.51719),
 (1, 1.51683),
 (1, 1.51545),
 (1, 1.51556),
 (1, 1.51727),
 (1, 1.51531),
 (1, 1.51609),
 (1, 1.51508),
 (1, 1.51653),
 (1, 1.51658),
 (1, 1.51617),
 (1, 1.51732),
 (1, 1.51831),
 (1, 1.51685),
 (1, 1.52065),
 (1, 1.51651)]

In [38]:
cursor.execute("select col1, col2, col11 from hijaga.glassdata where col1=1 or col11=5 ")

In [39]:
cursor.fetchall()

[(164, 1.51514, 5),
 (165, 1.51915, 5),
 (166, 1.52171, 5),
 (167, 1.52151, 5),
 (168, 1.51969, 5),
 (169, 1.51666, 5),
 (170, 1.51994, 5),
 (171, 1.52369, 5),
 (172, 1.51316, 5),
 (173, 1.51321, 5),
 (174, 1.52043, 5),
 (175, 1.52058, 5),
 (176, 1.52119, 5)]

In [42]:
cursor.execute("select * from hijaga.glassdata where col2 LIKE '1.515%'")     # any fromat can be given %.515, 1.51%, 1.%51 etc

In [43]:
cursor.fetchall()

[(6, 1.51596, 12.79, 3.61, 1.62, 72.97, 0.64, 8.07, 0.0, 0.26, 1),
 (11, 1.51571, 12.72, 3.46, 1.56, 73.2, 0.67, 8.09, 0.0, 0.24, 1),
 (13, 1.51589, 12.88, 3.43, 1.4, 73.28, 0.69, 8.05, 0.0, 0.24, 1),
 (36, 1.51567, 13.29, 3.45, 1.21, 72.74, 0.56, 8.57, 0.0, 0.0, 1),
 (71, 1.51574, 14.86, 3.67, 1.74, 71.87, 0.16, 7.36, 0.0, 0.12, 2),
 (73, 1.51593, 13.09, 3.59, 1.52, 73.1, 0.67, 7.83, 0.0, 0.0, 2),
 (75, 1.51596, 13.02, 3.56, 1.54, 73.11, 0.72, 7.9, 0.0, 0.0, 2),
 (76, 1.5159, 13.02, 3.58, 1.51, 73.12, 0.69, 7.96, 0.0, 0.0, 2),
 (80, 1.5159, 12.82, 3.52, 1.9, 72.86, 0.69, 7.97, 0.0, 0.0, 2),
 (81, 1.51592, 12.86, 3.52, 2.12, 72.66, 0.69, 7.97, 0.0, 0.0, 2),
 (82, 1.51593, 13.25, 3.45, 1.43, 73.17, 0.61, 7.86, 0.0, 0.0, 2),
 (84, 1.51594, 13.09, 3.52, 1.55, 72.87, 0.68, 8.05, 0.0, 0.09, 2),
 (87, 1.51569, 13.24, 3.49, 1.47, 73.25, 0.38, 8.03, 0.0, 0.0, 2),
 (93, 1.51588, 13.12, 3.41, 1.58, 73.26, 0.07, 8.39, 0.0, 0.19, 2),
 (94, 1.5159, 13.24, 3.34, 1.47, 73.1, 0.39, 8.22, 0.0, 0.0, 2),
 (164, 1.51514, 14.01, 2.68, 3.5, 69.89, 1.68, 5.87, 2.2, 0.0, 5),
 (196, 1.51545, 14.14, 0.0, 2.68, 73.39, 0.08, 9.07, 0.61, 0.05, 7),
 (197, 1.51556, 13.87, 0.0, 2.54, 73.23, 0.14, 9.41, 0.81, 0.01, 7),
 (199, 1.51531, 14.38, 0.0, 2.66, 73.1, 0.04, 9.08, 0.64, 0.0, 7),
 (201, 1.51508, 15.15, 0.0, 2.25, 73.5, 0.0, 8.34, 0.63, 0.0, 7),
 (203, 1.51514, 14.85, 0.0, 2.42, 73.72, 0.0, 8.39, 0.56, 0.0, 7)]

In [45]:
cursor.execute("create database cardatabase")
cursor.execute("use cardatabase")

In [61]:
cursor.execute("create table cardatabase.car_data_table1  (type VARCHAR(10), type_of_vehicle VARCHAR(10), No_of_engines INT(5), no_of_cyl  INT(5), size VARCHAR(10),  Capacity VARCHAR(10), status VARCHAR(10) ) ")

In [64]:
import csv
with open("car.data", "r") as f:
    car_data= csv.reader(f, delimiter= '\n')
    for i in car_data:
        cursor.execute(f'insert cardatabase.car_data_table1 values({str(i[0])})')
mydb.commit()

ProgrammingError: 1054 (42S22): Unknown column 'vhigh' in 'field list'

In [ ]:
cursor.execute("create table hijaga.details1(studentid INT(10), degree VARCHAR(15), Firstname VARCHAR(20), lastname VARCHAR(20), discipline VARCHAR(10))")

# Python operations on MongoDB

In [41]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://jagadeesh:235@cluster0.y4wqfwc.mongodb.net/?retryWrites=true&w=majority")
db = client.test

ConfigurationError: The resolution lifetime expired after 21.207 seconds: Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.

In [ ]:
print(db)

# Operations with SQLlite

In [2]:
import sqlite3

In [3]:
db= sqlite3.connect("test.db")

In [6]:
c= db.cursor()

In [7]:
c.execute("create table student_details(name text, batchid int, marks real)")

In [9]:
ls

 Volume in drive E is New Volume
 Volume Serial Number is 44EC-991A

 Directory of e:\VS CODE

29-12-2022  18:32    <DIR>          .
29-12-2022  18:32    <DIR>          ..
19-12-2022  17:54    <DIR>          .vscode
19-12-2022  18:41    <DIR>          __pycache__
21-12-2022  17:43                11 file.txt
21-12-2022  18:02                13 file1.txt
22-12-2022  16:19             7,856 finalsample.pdf
24-12-2022  20:26            11,903 glass.data
28-12-2022  11:41           120,509 Intermediate python.ipynb
22-12-2022  16:23            10,239 jagadeeshfinal.pdf
19-12-2022  19:23    <DIR>          Logging Folder
28-12-2022  18:08            51,867 m.data
21-12-2022  17:22    <DIR>          Module packages
29-12-2022  17:30    <DIR>          Mongodb
29-12-2022  17:29    <DIR>          New folder
22-12-2022  15:45             7,945 pdf-sample.pdf
24-12-2022  21:15           131,622 python basic.ipynb
22-12-2022  15:45             3,028 sample.pdf
29-12-2022  18:32             8,192 test.db
              11 File(s)        353,185 bytes
               8 Dir(s)  460,490,211,328 bytes free

In [10]:
c.execute('insert into student_details values("jaga" , 24141, 89.325)')

In [13]:
c.execute("select * from student_details")

In [14]:
c.fetchall()

[('jaga', 24141, 89.325)]

In [15]:
db.commit()

In [16]:
db.close()

In [17]:
db= sqlite3.connect("test.db")

In [18]:
c= db.cursor()

In [19]:
c.execute('select * from student_details where marks >40')

In [20]:
c.fetchall()

[('jaga', 24141, 89.325)]

In [22]:
c.execute('select name from student_details where marks>40')
c.fetchall()

[('jaga',)]

In [23]:
c.execute('create table person_details(name text, age int, salary real, job text)')

In [26]:
c.execute('insert into person_details values("jaga", 23, 70000, "data_scientist")')
c.execute('insert into person_details values("mouli", 22, 50000, "ml_engineer")')
c.execute('insert into person_details values("amul", 25, 90000, "data_manager")')

In [29]:
c.execute("select * from person_details")
c.fetchall()

[('jaga', 23, 70000.0, 'data_scientist'),
 ('mouli', 22, 50000.0, 'ml_engineer'),
 ('amul', 25, 90000.0, 'data_manager')]

In [31]:
db.commit()
db.close()

In [33]:
db= sqlite3.connect("test.db")

In [34]:
c= db.cursor()

In [35]:
c.execute("drop table student_details")

In [36]:
c.execute('select * from student_details')     #deleted

OperationalError: no such table: student_details

In [37]:
c.execute('select * from person_details limit 2')     #here limit 2 is simply used to get only 2 rows
c.fetchall()

[('jaga', 23, 70000.0, 'data_scientist'),
 ('mouli', 22, 50000.0, 'ml_engineer')]

In [38]:
db= sqlite3.connect('joindb.db')

In [39]:
c= db.cursor()

In [40]:
c.execute('create table student(student_id int, student_name text, student_mailid text , marks int)')

In [41]:
c.execute('create table address(student_id int, location text, nearby text, phone_no int)')

In [58]:
c.execute('insert into student values(230, "jaga", "jagadeesh@gmail.com", 90 )')
c.execute('insert into student values(231, "mouli", "mouli@gmail.com", 80 )')
c.execute('insert into student values(232, "you", "you@gmail.com", 70 )')
c.execute('insert into student values(233, "me", "me@gmail.com", 78 )')
c.execute('insert into student values(234, "they", "they@gmail.com", 89 )')
c.execute('insert into student values(235, "her", "her@gmail.com", 67 )')

In [59]:
c.execute('insert into address values(230, "rrqfa", "wetefa", 42356)')
c.execute('insert into address values(231, "vcbn", "ccghj", 6788)')
c.execute('insert into address values(2310, "vcbn", "asfsf", 4567)')
c.execute('insert into address values(233,"asfdf", "asdf", 6788)')
c.execute('insert into address values(234, "fwsd", "asgdh", 23456)')
c.execute('insert into address values(235, "fsdfadf", "safasfas", 245352)'  )

In [60]:
for i in c.execute('select * from address'):
    print(i)

(230, 'rrqfa', 'wetefa', 42356)
(231, 'vcbn', 'ccghj', 6788)
(2310, 'vcbn', 'asfsf', 4567)
(233, 'asfdf', 'asdf', 6788)
(234, 'fwsd', 'asgdh', 23456)
(235, 'fsdfadf', 'safasfas', 245352)
(230, 'rrqfa', 'wetefa', 42356)
(231, 'vcbn', 'ccghj', 6788)
(2310, 'vcbn', 'asfsf', 4567)
(233, 'asfdf', 'asdf', 6788)
(234, 'fwsd', 'asgdh', 23456)
(235, 'fsdfadf', 'safasfas', 245352)

In [63]:
data= c.execute('select * from student s left join address a on s.student_id= a.student_id where a.student_id is not null')

In [64]:
data.fetchall()

[(230, 'jaga', 'jagadeesh@gmail.com', 90, 230, 'rrqfa', 'wetefa', 42356),
 (231, 'mouli', 'mouli@gmail.com', 80, 231, 'vcbn', 'ccghj', 6788),
 (233, 'me', 'me@gmail.com', 78, 233, 'asfdf', 'asdf', 6788),
 (234, 'they', 'they@gmail.com', 89, 234, 'fwsd', 'asgdh', 23456),
 (235, 'her', 'her@gmail.com', 67, 235, 'fsdfadf', 'safasfas', 245352),
 (230, 'jaga', 'jagadeesh@gmail.com', 90, 230, 'rrqfa', 'wetefa', 42356),
 (231, 'mouli', 'mouli@gmail.com', 80, 231, 'vcbn', 'ccghj', 6788),
 (233, 'me', 'me@gmail.com', 78, 233, 'asfdf', 'asdf', 6788),
 (234, 'they', 'they@gmail.com', 89, 234, 'fwsd', 'asgdh', 23456),
 (235, 'her', 'her@gmail.com', 67, 235, 'fsdfadf', 'safasfas', 245352)]

In [65]:
data= c.execute('select * from address s left join student a on s.student_id = a.student_id')

In [66]:
for i in data:
    print(i)

(230, 'rrqfa', 'wetefa', 42356, 230, 'jaga', 'jagadeesh@gmail.com', 90)
(231, 'vcbn', 'ccghj', 6788, 231, 'mouli', 'mouli@gmail.com', 80)
(2310, 'vcbn', 'asfsf', 4567, None, None, None, None)
(233, 'asfdf', 'asdf', 6788, 233, 'me', 'me@gmail.com', 78)
(234, 'fwsd', 'asgdh', 23456, 234, 'they', 'they@gmail.com', 89)
(235, 'fsdfadf', 'safasfas', 245352, 235, 'her', 'her@gmail.com', 67)
(230, 'rrqfa', 'wetefa', 42356, 230, 'jaga', 'jagadeesh@gmail.com', 90)
(231, 'vcbn', 'ccghj', 6788, 231, 'mouli', 'mouli@gmail.com', 80)
(2310, 'vcbn', 'asfsf', 4567, None, None, None, None)
(233, 'asfdf', 'asdf', 6788, 233, 'me', 'me@gmail.com', 78)
(234, 'fwsd', 'asgdh', 23456, 234, 'they', 'they@gmail.com', 89)
(235, 'fsdfadf', 'safasfas', 245352, 235, 'her', 'her@gmail.com', 67)

In [67]:
for i in c.execute('select * from student'):
    print(i)

(13123, 'jaga', 'jagadeesh@gmail.com', 90)
(452354, 'mouli', 'mouli@gmail.com', 80)
(7890, 'you', 'you@gmail.com', 70)
(13123, 'me', 'me@gmail.com', 78)
(13123, 'they', 'they@gmail.com', 89)
(13123, 'her', 'her@gmail.com', 67)
(230, 'jaga', 'jagadeesh@gmail.com', 90)
(231, 'mouli', 'mouli@gmail.com', 80)
(232, 'you', 'you@gmail.com', 70)
(233, 'me', 'me@gmail.com', 78)
(234, 'they', 'they@gmail.com', 89)
(235, 'her', 'her@gmail.com', 67)

In [68]:
c.execute('delete from student where student_id >2000')

In [70]:
c.execute('select * from student ')
c.fetchall()

[(230, 'jaga', 'jagadeesh@gmail.com', 90),
 (231, 'mouli', 'mouli@gmail.com', 80),
 (232, 'you', 'you@gmail.com', 70),
 (233, 'me', 'me@gmail.com', 78),
 (234, 'they', 'they@gmail.com', 89),
 (235, 'her', 'her@gmail.com', 67)]

In [75]:
c.execute('update student set student_id= 1000 where student_id= 235')

In [76]:
c.execute('select * from student')
c.fetchall()

[(230, 'jaga', 'jagadeesh@gmail.com', 90),
 (231, 'mouli', 'mouli@gmail.com', 80),
 (232, 'you', 'you@gmail.com', 70),
 (233, 'me', 'me@gmail.com', 78),
 (234, 'they', 'they@gmail.com', 89),
 (1000, 'her', 'her@gmail.com', 67)]

In [77]:
db.close()

# Map, Reduce and Filter

In [79]:
l= [13,12,124,12]
l1=[]
for i in l:
    l1.append(i+5)
l1

[18, 17, 129, 17]

In [80]:
[i+5 for i in l]

[18, 17, 129, 17]

In [81]:
def test(a):
    return a+5

In [83]:
list(map(test, l))

[18, 17, 129, 17]

In [84]:
def test2(a):
    return a*23+5

In [85]:
list(map(test2, l))

[304, 281, 2857, 281]

In [87]:
l2=  ["234","124","1","24","142"]

In [88]:
def inte(a):
    return int(a)

In [89]:
list(map(inte, l2))

[234, 124, 1, 24, 142]

In [91]:
list(map(lambda x: int(x), l2))   #mao with lambda function

[234, 124, 1, 24, 142]

In [96]:
list(map(lambda x: x+5, l))

[18, 17, 129, 17]

In [97]:
def test(a):
    if a%2==0:
        return a

In [98]:
[i for i in l if i%2==0 ]   #filter even number

[12, 124, 12]

In [101]:
list(filter(test, l))

[12, 124, 12]

In [103]:
list(filter(lambda x : x%2==0, l))

[12, 124, 12]

In [104]:
from functools import reduce

In [110]:
l= [345,456,67,657]
sum=0
i= 0
while i <len(l):
    sum= sum+ l[i]
    i= i+1
print(sum)

1525

In [116]:
def test2(a,b):
    return a*b

In [117]:
reduce(test2, l)

6925069080

In [120]:
l= [1,23,123,12,312]
l1= [12123131,23,13,12,312]
l2= ["adasda", "ASDDASd", "adsdasd", "312312"]

In [122]:
list(zip(l, l1, l2))    #going to return tuple of pair of respective element in each but only it perform operation if the element is present at a corresponding place

[(1, 12123131, 'adasda'),
 (23, 23, 'ASDDASd'),
 (123, 13, 'adsdasd'),
 (12, 12, '312312')]

# Working with cassandra

#Advantages of cassandra:
1. Scalability
2. High availability
3. Decentralized

In [1]:
pip install cassandra-driver

Collecting cassandra-driver
  Using cached cassandra-driver-3.25.0.tar.gz (289 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.9 in c:\users\jagadish\appdata\roaming\python\python311\site-packages (from cassandra-driver) (1.16.0)
Collecting geomet<0.3,>=0.1
  Using cached geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Collecting click
  Downloading click-8.1.3-py3-none-any.whl (96 kB)
     ---------------------------------------- 96.6/96.6 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\jagadish\appdata\roaming\python\python311\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.6)
Installing collected packages: click, geomet, cassandra-driver
  Running setup.py install for cassandra-driver: started
  Running setup.py install for cassandra-driver: finished with status 'done'
Successfully installed cassandra-driver-3.25.0 click-8.1.3 geomet-0.2.1.post1
Note: you may need to restart the kernel to use updated packages.

  DEPRECATION: cassandra-driver is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559

In [3]:
import cassandra; print (cassandra.__version__)

3.25.0