# Q1.   Tuple: 

Tuple are collection of elements in ordered and unchangable form (immutable). 

1.Tuple allows the duplicate values.

2.Tuple are immutable

3.Tuples are indexed

4.Tuples are ordered

# Q2.

In [5]:
# Tuple can only have two methods namely 1.count() 2.index()

t= (2,3,4,4)

print(t.count(4))
print(t.index(3))


# reason for having only 2 methods:
"""
1. They are immutable, we cannot manipulate them
"""

2
1

# Q3.

In [9]:
# Set collection datatype doesnot allow for duplicate items 

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
unique_list= list(set(List))
print(unique_list)

[1, 2, 3, 4]

# Q4.

In [11]:
# Union() method create a new set by combining all the elements from all the given sets and returns the new set

# Update methos is used to combine the new sets into the old given set without altering the given set or the new sets which are to be combined

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

union_set = set1.union(set2, set3)
print(union_set)



set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

set1.update(set2, set3)
print(set1)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

# Q5.

In [13]:
"""A dictionary is a built-in data type that represents a collection of key-value pairs. It is also known as an associative array or a hash table.
Each key in a dictionary is unique and is used to access its corresponding value. 
Dictionaries are enclosed in curly braces {}, and key-value pairs are separated by a colon :"""

person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(person["name"])  # Accessing value using key
print(person["age"])
print(person["city"])

John
30
New York

In [14]:
# Dictionaries are ordered
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

for key, value in person.items():
    print(key, value)

name John
age 30
city New York

# Q6.

Yes, we can create a nested dictionary in Python. A nested dictionary is a dictionary that contains another dictionary as a value.

In [16]:
student = {
    "name": "John",
    "age": 20,
    "grades": {
        "math": 85,
        "science": 90,
        "history": 78
    }
}

print(student["name"])                    # Accessing top-level value
print(student["grades"]["math"])          # Accessing nested value
print(student["grades"]["science"])
print(student["grades"]["history"])

John
85
90
78

# Q7.

In [17]:
my_dict = {
    "name": "John",
    "age": 30
}

my_dict.setdefault("topics", ['Python', 'Machine Learning', 'Deep Learning'])

print(my_dict)

{'name': 'John', 'age': 30, 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

# Q8.

In [2]:
my_dict ={'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
keys_view = my_dict.keys()
values_view = my_dict.values()
items_view = my_dict.items()

print(keys_view)
print(values_view)
print(items_view)

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])