In [ ]:
print("this is my first prog")

In [ ]:
1**2

In [ ]:
3/7

In [ ]:
1+2

In [ ]:
a= 10      #assignment of a value to a variable

In [ ]:
type(a)     #type is a function used to find the type of a variable

In [ ]:
b= 45.67   #assigning a float value

In [ ]:
type(b)

In [ ]:
c= 5+7j    #assigning a complex number

In [ ]:
type(c)

In [ ]:
c.imag

In [ ]:
c.real

In [ ]:
c.conjugate()    #we can also get a conjugate for a complex number

In [ ]:
d= "my name is jagadeesh"    #assingning a strig to a varaible

In [ ]:
d

In [ ]:
e, f, g, h, i = 3, 6.6, 5+7j, "dwfwf", False    #multiple assignment in a single line of code

In [ ]:
e, f    #requesting multople vlaues in a single line of code gives you the values in a form of tuple

In [ ]:
h+5      #contatetion is only possible between two strings

In [ ]:
y= "4"

In [ ]:
y+'5'    #Here concatenation is possible because 5 is in the form of string

In [ ]:
k= '5'

In [ ]:
int(k)+6    #here int funtion acts as a typecasting function

In [ ]:
str(324567)   #here str acts as a typecasting function

In [ ]:
d

#Scling and indexing operations on a string, Remember index always start from zero, and also space is also considered as a character only

In [ ]:
d

In [ ]:
d[0]    #slicing operation of a string

In [ ]:
d[0:3]       #indexing will be in the form of [start: End: step] and always rememner that end is always excluded i.e if end is n the output will be n-1

In [ ]:
d[300]   #here it gives error because we are trying to get the value which is out of index range

In [ ]:
d[0:300]    #gives complete string because we are scling in range of indeces and 300 will include all the index values of all the characters in the string

 #here is giving 1 as a step is optional beacuse step actually have two uses 1.How many jumps to reach next character 2.To indicate that the scling is forward or backward. since 1 is a posiitve, so it is forward and 1 is optinal to give as a step size because generally 1 is default step size

In [ ]:
d[0:3:1]   #1 is optional (because by default step size (is 1 and sclicing order is also forward

In [ ]:
d[0:5:2]    #here jump size is 2

In [ ]:
d[0:100:-1]    #Actually here we are sclicing in te forward direction but given the jump size in the negative direction dur ==e to which a concflict occurs, so we ca't get the value

In [ ]:
d[-1:-4]  #again here we are sclicing in the backward direction but the jump is default in the positive directiion (i.e 1)

In [ ]:
d[:9]   #by default start index is zero

In [ ]:
d[:-2]    #here start is zero but the end is -2 that means it should exclude -2 (upper bound exclude) by considering upto -3

In [ ]:
d[-2:]

In [ ]:
d[::-1]    #complete reverse of  a string

In [ ]:
d[-5:5]  #here we started with -5 but end with postive which makes a conflict because we have our jump direction as a positive

In [ ]:
d[-5:5:-1]

In [ ]:
"jaga"*3   #repetition of the string

In [ ]:
"jaga"+"M"   #concatenation of the string

In [ ]:
d.find("g")    #find function only gives the index of first occureance in the string

In [ ]:
d.find("ja")   #gives the index of the first occurance and index value will be the value of index will be the index value of the first leeter in the given input

In [ ]:
r= d.split()    #split function is used to split the entire string into multiple strings in the form of a list by considering the space as a default seperartor.
r

In [ ]:
r[0]   #we can also do indexing of list

In [ ]:
z= d.split("a")   #here the sep= "a"

In [ ]:
z

In [ ]:
d.upper()    #convert to upper case

In [ ]:
d.lower()   #lower case

In [ ]:
d.swapcase()    #convert lower to upper and upper to lower

In [ ]:
d.title()   #captialize the First letter in each word

In [ ]:
b= "jagadeesh"
c= "murapaka"

In [ ]:
b.join(c)     #after every character of the second string it will try to add the first string

In [ ]:
" ". join(c)   #

In [ ]:
for i in reversed("jaga"):     #reversed is a function which gives a reverse of a string
    print(i)

In [ ]:
d= "     jaga      "

In [ ]:
d.strip()    #reomoves the white space before and after also

In [ ]:
d= "jaga     "

In [ ]:
d.rstrip()    #rstrip is used to remove the trailing unnesecarry space

In [ ]:
e= "    jaga"

In [ ]:
e.lstrip()     #lstrip is used to remove the leading unnesecarry space

In [ ]:
e.replace("a", "g")    #replace is used to replace a character with another character

In [ ]:
e.replace("t", "g")   #since t is not available in the string, nothing can be done

In [ ]:
"jaga\tmurapaka".expandtabs()    #expands the strig by giving the tab space where \t will be present

In [ ]:
s= "jaga"

In [ ]:
 s.center(40, 't')    #centers the string with equal space before and after where the given character is placed

In [ ]:
s.isalpha()    #press tab after typing is for more no of functions

In [ ]:
s.isspace()   #Only return True if entire string is a space

In [ ]:
s.isdigit()

In [ ]:
s.startswith("x")

In [ ]:
s.istitle()

In [ ]:
s.encode()

In [ ]:
l= ["jaga", 23, 45.6, False, 5+8j]      #list is collection of Hetrogenous tyoe of data

In [ ]:
type(l)

In [ ]:
l[0:4:3]   #same scling and indexing opeartions similar to string is also applicaable here

In [ ]:
l[0][0]    #here accessing the first character of first element in the list

In [ ]:
l[-1:6]

In [ ]:
l

In [ ]:
l[1]= 4        #replacement is possible

In [ ]:
l1= [3.4, 24, "fddfdef", 4+8j]
l2= [3,4553, 2+8j, "sdss", 3+6j]

In [ ]:
l1+l2

In [ ]:
l1+"jaga"   #only lists can be concatenated

In [ ]:
l1+["jaga"]

In [ ]:
l1*4  #repeat the elements into no of times

In [ ]:
s= "dwdww"

In [ ]:
s[0]= "h"    #string does not support item assignment (string is imutable)

In [ ]:
s.replace("d", "h") 
#replace function canm be used to replace a character in  astring but still original string will not be changed

In [ ]:
s

In [ ]:
l2.append("dssd")    #append always add an object at end of the list

In [ ]:
l2

In [ ]:
l2.pop()         #pop is used to delete the element at a particular index, by default the index will be -1    #For specific index the syntax will be pop(index)

In [ ]:
l2

In [ ]:
l2.pop(2)    #pop at particular index

In [ ]:
l2

In [ ]:
l2.insert(2, "dwdwd")    #insert function is used to insert a element at a particular index and the list is adjusted accordingly

In [ ]:
l2.insert(-1, "scscc")   #index at -1 means index always works insertion before index

In [ ]:
l2

In [ ]:
l2.insert(2, ["dwdw", 322, 3+8j])   #we can insert a list in a list (makes a nested list)

In [ ]:
l2

In [ ]:
l2.reverse()   #permenantly the list will be reversed

In [ ]:
l2

In [ ]:
l2[::-1]    #this will also gives reversed list but the original list will not be changed

In [ ]:
l2

In [ ]:
l2.count(3)    #count is the fucntion which counts the no of occurance

In [ ]:
l1.append([2, 242, 3+8j, "werwr"])

In [ ]:
l1

#  extend is the function which is used to add no of elements into a existing list at the end of list by unwrapping the things. The elements is to be passed in type of iterable object (ex: list, string.. etc).

In [ ]:
l1.extend(["dsdsd", 32, 4432+8j, 3.4])

In [ ]:
l1

In [ ]:
l1.extend("dadd")    #string is also a iterable object

In [ ]:
l1

# Tuples

In [ ]:
t= (1, 3, 68, 8+9j,[2,3,4,2, "sfdfdf", 3232], "fghjk", 8.8)   #tuple is a hetrogenous immutable collection of elements

In [ ]:
t

In [ ]:
type(t)

In [ ]:
t[0]=2    #tuples are immutable

In [ ]:
list(t)    #convert tuple to list

In [ ]:
tuple(l1)   #convert list to tuple

In [ ]:
l= [1,2,2434,35,323,4343,3423,432, "sdssf",  5,5,1,3,2,22,2,2,21,1,1,1,5,5,5]

In [ ]:
set(l)    #set is hetrogenous and unique collection of elements

In [ ]:
s= {}

In [ ]:
type(s)

In [ ]:
s= {1,3, 1324,43}

In [ ]:
type(s)

In [ ]:
s1 ={23224,424, "srsr", 4,4,4,4,6,1,4,56,11,1,1,1,5,5,5,5}
s2= {323,32,2,3,"fd", "dfdfsfs", 3.5, 2+6j}

In [ ]:
s2

In [ ]:
s1

In [ ]:
s1[0]    #sclicing operations is not possible in case of set

In [ ]:
list(s1)[0]

In [ ]:
s1+s2    #concatenation operation is also notg possible with sets

In [ ]:
s1.add(22323)    #add function is used to add the elements into a set

In [ ]:
s1.add("ddssd")

In [ ]:
s1

In [ ]:
s1.add(["fsfs", 345])    #we cant hold a list into a set beaucse set always hold unique and unordered(check by primitive datatype))

In [ ]:
s3= {23, 23232, 3+9j, ("dsdsd", 3223, 4.5, "sdsadasd")}    #but set can hold tuple inside it becuase tuples are immutable

In [ ]:
s3.remove(23)    #remove function is used to remove a element which is present in the set

In [ ]:
s3

In [ ]:
s3.remove(34)    #if the element is not present in the set then it will give error

In [ ]:
s3.discard(3+9j)    #discard is a funtion which remove the element if found in the set but if not found it do nothing(it do nit give error)

In [ ]:
s3

# Dictionaries

Dictionaries are the collection of hetrogenous entities in a form of key value pairs

NOTE: LISTS, DICT CANNOT BE USED AS A KEY

In [ ]:
d= {"name": "jaga", "phone":966, "age":23, "occupation":"student", 6:"Lucky no", "list":[3,4,5,6]}

In [ ]:
type(d)

In [ ]:
d["name"]

In [ ]:
#key cannot be a special character or contain special character except when it is in form of string

In [ ]:
d1= {"key1":"wdwd", "name":"jaga", "key1":[3424,2423, 24124]} #here key1 is repeated two times as keys

In [ ]:
#so when i call key1 i.e d1["key1"] , only recent or latest value will be given as output

In [ ]:
d1["key1"]     #only given the recent or latest value

In [ ]:
#there is no restriction on values(they may be same or different for keys because keys are different

In [ ]:
d2= {"names":{"myname":"jaga", "mother":"dswdwd", "father":"wdwdwd", "friend":"fghj"}, "girlfrnd": "No", "mobile": 6789, "mail_id":"jagadeesh@gfhj.com", "key1":[2,33434,4242], "key2":("dsdd", 245353, 2423.4), "key3":{232, 2,3, 4,4,4,4, 5, 6+8j}}

In [ ]:
d2

In [ ]:
d2["names"]["myname"]    #In depth accessing of elements

In [ ]:
d2.keys()    #gives list of all keys

In [ ]:
d2.values()    #gives the values of dictionary

In [ ]:
d2.items()   #to get list of tuples of key and value pair of dictionary

In [ ]:
type(d.items())

In [ ]:
 d2["key4"]= "fun"    #it will insert new key value pair, since key4 is not avaliable

In [ ]:
d2

In [ ]:
d2["key1"]= "good"   #since key1 is already avilable the value will be updated

In [ ]:
d2

In [ ]:
del d2["key1"]   #to delete a key value pair

In [ ]:
d2

In [ ]:
d2[[3,4, 3434]] = "wwe"  #LIST CANNOT BE USED AS A KEY

In [ ]:
d2[(3,433,5343,4)]= "sdwdwd"  #TUPLE CAN BE USED AS A KEY

In [ ]:
d2

In [ ]:
d2.get("key2")  #gives the value if the key is available in the dictionary else it do nothing but does not give error

In [ ]:
d2.update(d1)   #merge d1 and d2

In [ ]:
d2

# CONDITIONAL LOOPS

In [ ]:
a= 10

In [ ]:
if a<15:
    print("hello")

In [ ]:
a<15

In [ ]:
if 10<3:
    print("10 is lesser than 3")
else:
    print("the if condtiton is false")

In [ ]:
income = int(input())
if income<50:
    print("i will be alble to buy a phone")
elif income<70:
    print("i will be able to buy a car")
elif income <90:
    print("i will be able to rent a house")
else:
    print("i wont be anble to buy anything")

In [ ]:
Total_price = int(input())
if Total_price >20000:
    discount = Total_price * .20
    print("Discount will be :", discount)
elif Total_price <=7000:
    discount = Total_price * .05
    print("Discount will be :", discount)
else:
    print("No discount can be provided")

In [ ]:
"jaga" == "jaga"

In [ ]:
study_hour = int(input())
if study_hour <1:
    print("it may take 8-9 month of time to make a transition")
elif study_hour<4:
    print("it may take 6 month to make a transition")
elif study_hour>10:
    print("it may take 3 months to make a tarnsition")
else:
    print("it will be difficult")

In [ ]:
course_work1= input("enter the name of coursework 1")
scoreintheory_1= int(input("enter the score in thery 1"))
scoreinpractical_1 = int(input("enter the score in practical_1"))
course_work2 = input("enter the name of corsework2")
scoreintheory_2 = int(input("enter the score in thpery 2"))
scoreinpractical_2= int(input("enter the score in practical_2"))
if course_work1 == "English" or "english":
    if scoreintheory_1 > 50  or scoreinpractical_1 > 50:
        print("invalid input, Score should be less than 50")
    else:
        print("Total score in "+course_work1+ " is:", scoreintheory_1+scoreinpractical_1)
if course_work2 == "science" or "Science":
    while scoreintheory_2 > 50 or scoreinpractical_2 > 50:
        print("invalid input, Score should be less than 50")
    else:
        print("Total score in " +course_work2+ " is:", scoreintheory_2+scoreinpractical_2)

In [ ]:
s = input("enter a string to start ")

if s == "oneneuron":
    course = input("enter a course name ")
    if course == "DSA":
        print("yes its available under one neruon and in multiple mode for job prepratoin and core concept ")
    elif course == "Blockchain":
        print("this is not aviable as of now , kindly raise your demand and we will fulfil in 60 days ")
    elif course == "FSDS":
        print("yes its availble , youi can start learning ")
    else :
        print("this course is not availble kindly raise your demand ")
elif s  == "oneneuronservice":
    service = input("enter a service name ")
    if service == "courserequest":
        print("*NOTE: Dear Learner, you can raise demand related to any new course, and we will fulfil your need in the next 60 days.")
    elif service == "module" :
        print("*NOTE: Dear Learner, you can raise demand related to any new course module, and we will fulfil your need in the next 30 days.")
    elif service == "doubt":
        print("*NOTE: Dear Learner, you can raise demand related to any doubt clearing, and we will fulfil your need in the next 24 hours.")
    elif service == "workwithus":
        print("*NOTE: Dear Learner, you can raise the demand to work with our team; our HR will evaluate and get back to you in 24 hours.")
    else :
        print("kindly provide us your feedback and we will fulfil")
else :
    print("kindly connect with our team ")

# For loop

In [ ]:
l = [1,224,4242,43424,5765,3]
for i in l:
    print(i)

In [ ]:
s= "jaga"
for i in s:
    print(i)
for i in s:
    print(type(i))

In [ ]:
l= [2,3,4.5, 6+8j, True, [223,324324,3], {2,3,44,44,44}, {323:223}]
for i in l:
    print(type(i))

In [ ]:
l2 = [2,4,6,8,10]
l3=[]
for i in l2:            #simple for loop with appedn function to add 2 to each numbner but by crating  a another blank list
    l3.append(i+2)

In [ ]:
l3

In [ ]:
l

In [ ]:
lint= []
lfloat= []
lcomplex= []
llist= []
lother= []
for i in l:
    if type(i)== int:
        lint.append(i)
    elif type(i)== float:
        lfloat.append(i)
    elif type(i) == complex:
        lcomplex.append(i)
    elif type(i)==list:                   #filtration of data according to datatypes
        llist.append(i)
    else:
        lother.append(i)
print(lint)
print(lfloat)
print(lcomplex)
print(llist)
print(lother)

In [ ]:
#filter all integers

for i in l:
    if type(i)== int:
        print(i)
    elif type(i) ==list:
        for j in i:
            if type(j)== int:
                print(j)
    elif type(i) ==set:
        for j in i:
            if type(j)== int:
                print(j)

In [ ]:
l= [2,45, 78, 12, "jaga", 6+7j, [3,4,6,23, "sdsf"]]
#q1. Try to print index of all the elements
#q2. Try to extract all the list of char if element is string
#q3. Try to return a lsit after doing a square of all the int element


for i in l:
    print("the index of element " + str(i)+ " is: ",  l.index(i))

In [ ]:
l= [2,45, 78, 12, "jaga", 6+7j, [3,4,6,23, "sdsf"]]
for i in l:
    if type(i)==str:
        l5= []
        for j in i:
            l5.append(j)
l5

In [ ]:
s= "this is a basic python class"
len(s)

In [ ]:
count = 0
for i in s:                #another way
    count = count+1
print(count)

In [ ]:
s[::-1]

In [ ]:
for i in range(len(s)-1, -1, -1):
    print(s[i], end= " ")

In [ ]:
i = len(s)-1
while i >=0:
    print(s[i], end= " ")
    i= i-1

In [ ]:
# code to check whether the given string is palindrome or not

s= input("enter the string")
for i in range(len(s)):              #with for loop
    if s[i] != s[len(s)-i-1]:
        print("Not a pallindrome")
        break
else:
    print("its a pallindrome")

In [ ]:
s= input("enter the string")
f= ""
i = len(s)-1
while i>=0:
    f= f+s[i]          #with while loop
    i= i-1
if f==s:
    print("yes it is pallindrome")
else:
    print("not a pallindrome")

In [ ]:
d= {"chan": "cha", "india":"IN", "china": "CH", "united states": "US", "canada": "CA"}
for i in d.keys():
    if i != "india":
        continue
    else:
        print("yes")
        break
else:
    print("NO")

In [ ]:
l_lesser5= []
l_greater5=[]
for i in d:
    if len(i)<5:
        l_lesser5.append(i)
    elif len(i)>=5:
        l_greater5.append(i)

print(l_lesser5)
print(l_greater5)

In [ ]:
d1 = {"ineuron": {
                        "a":14,
                        "b":10,
                        "c":4
                    }, 
      "course":  {
                        "d":56,
                        "e":34,
                        "f":23
                  }
     }

In [ ]:
#ques:  printing maximum values
for i in d1.values():
    mx= 0
    for j in i.values():
        if mx<j:
            mx= j
        continue
            
    print(mx)

In [ ]:
for i in d1.values():
    print(max(i.values()))      #simple method

In [ ]:
d2= {"number1":{"a":12, "b":23, "c":45}, "number2":{"d":23, "e":67, "f":324}, "number3":56, "number4":[342,43,64], "number5":(42,46,323)}

In [ ]:
d2

In [ ]:
#Again print maximum values
for i in d2.values():
    mx= 0
    if type(i)==dict:
        for j in i.values():
            if mx<j:
                mx= j
        print(mx)
    elif type(i)== list:
        for j in i:
            if mx<j:
                mx= j
        print(mx)
    elif type(i)== tuple:
        for j in i:
            if mx<j:
                mx=j
        print(mx)
    else:
        print(i)

In [ ]:
#print overall maximum
l=[]

for i in d2.values():
    if type(i)!= str or type(i)!= complex:
        if type(i)== list or type(i)== tuple or type(i)== set:
            l.extend(list(i))
        elif type(i)== dict:
            for j in i.values():
                l.append(j)
        elif type(i)== int:
            l.append(i)
print(max(l))

# Functions

In [ ]:
len("jaga")     #this is a in bulit funtion

In [ ]:
print("jaga")

In [ ]:
#why cant we create our function which can be reuesed when ever necessary
def test():
    pass                     #if we do not have any body of funtion for the time we can use pass to not to get an error

In [ ]:
def test1():
    print("this is my first function")

In [ ]:
test1()

In [ ]:
type(test1())   #Print function is nonetype

In [ ]:
test1()+"jaga"    #here altough return test1() gives string as a output but concatenation is still not possible because print is nonetype

In [ ]:
def test2():
    return "sfdgh"

In [ ]:
type(test2())

In [ ]:
test2()+"jaga"  #here the return function gives the original datatypes of the body

In [ ]:
def test3():
    return 312434124

In [ ]:
type(test3())   #return keyword is capable of sensing the datatype automatically

In [ ]:
def test4():
    return [1,2,3,"wfwf", 3+8j]

In [ ]:
b= test4()

In [ ]:
b[0]   #capable of slicing because return function sensed that it is a list

In [ ]:
def test5():
    a= 4*3/4
    return a

In [ ]:
test5()

In [ ]:
#ques. Take a nested list which contains, integeres, lists, strings but only return list of integers

def convert(l):
    if type(l)== list:
        a=[]
        for i in l:
            if type(i)== int:
                a.append(i)
    return a

In [ ]:
listofall= [1,2,3,4,5,6,7, 7, "sdwfw", {324, "ewr", 32.4}, 5+9j, "ddw"]

In [ ]:
convert(listofall)

In [ ]:
def test6(a):
    if type(a)==dict:
        return a.keys()
    else:
        return "you haven't passed the dictionary"

In [ ]:
c= {"a":3, "sdsd":22323, "in": {"dsdsd":"sdsd"}, "sfsfs":[2322, 2323, 32]}

In [ ]:
test6(c)

In [ ]:
def test7(a, b):
    if type(a)== list and type(b)== list:
        a.extend(b)
        return a
    else:
        return "either or both of your data is not a list"

In [ ]:
test7("dwdw",["sdd", 131, 212])

In [ ]:
test7([2,3,4,6], [242,434,234,3])

In [ ]:
def funcforpattern(a):
# Below is the docstring for a function
    """this is a function which help you to create a tri with no of rows"""
    for i in range(a):
        for j in range(i+1):
            print("*", end= " ")
        print("\r")

In [ ]:
funcforpattern(10)

#Basic Questions on functions

In [ ]:

"""1 . you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len
2 . write a fun which will be able to print an index of all premitive element which you will pass 
3 . Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 
4 . write a fun which will take another function as an input and return me an output 
5. write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output 
6 . write a function which will be able to take a list as an input return an index of each element 
like a inbuilt index function but even if we have repetative element it should return index 
7 . Write a function which will whould return list of all the file name from a directory . 
8  . write a function which will be able to show your system configuration . 
9 . write a function which will be able to show date and time  . 
10 . write a function whihc will be able to read a image file and show it to you .
11 . write a function which can read video file and play for you . 
12  . write a function whihc can move a file from one directory to another directory . 
13 . write a function which will be able to shutdonw your system . 
14 . write a function whihc will be able to access your mail . 
15 . write a func bywhcih i can send a mail to anyone 
16. write a func to read a complete PDf file . 
17. write a function to read a word file . 
18 . write a function which can help you to filter only word file from a directory . 
19 . write a function by which you can print an ip address of your system . 
20 . write a function by which you will be able to append two PDF files . """

In [ ]:
#q1.
def length(a):
    if type(a)== str:
        count= 0
        for i in a:
            count= count+1
    return count

In [ ]:
length("jaga")

In [ ]:
#q.3
def index(a):
    if type(a)== str or type(a)== list or type(a)== tuple or type(a)== set:
        count = 0
        for i in range(len(a)):
            print(" the index of "+str(a[i])+ " is: "+str(count+i))

In [ ]:
index([1,2,44,5,5,6])

In [ ]:
#only works upto second level complexity
def fungivelistval(a):
        if type(a)== dict:
            listval=[]
            for i in a.values():
                if type(i)== list or type(i)== tuple or type(i)== set:
                    listval.extend(list(i))
                elif type(i)== str or type(i)== int or type(i)== float:
                    listval.append(i)
                elif type(i)== dict:
                    for j in i.values():
                        listval.append(j)
                
        return listval

In [ ]:
dictionary= {"sw": [1,3,45,"dfd"], "integer":424, "float":2324.4, "dictionary":{"func":2, "list":1213}}

In [ ]:
fungivelistval(dictionary)

*args, a standard notation(not a reserved keyword means we can use *anything(your name also)) by which it will consider any no of data inputs and any type of data and perform some operations and returns the output

And args output will always be in form of tuples

In [ ]:
def test8(*args):
    return args

In [ ]:
test8(34,353,535,35,3)

In [ ]:
test8(24,434,["dfef", 4234, 242.424, 4+8j], 5+9j, 3.3,"dwd")

In [ ]:
def test9(*jaga, a):
    return jaga, a

In [ ]:
test9("dadad",3223,323, "dsd")    #it not working because all the input will act as input for jaga itself , so a is missing

In [ ]:
def test10(*jaga, a= 90):
    return jaga, a              #one of the solution is that any standard value can be assigned to a

In [ ]:
test10("dsds", "sdsd", [232,23, "sdsd"])

In [ ]:
def test11(*jaga, a, b,c,d):
    return jaga, a,b,c,d

In [ ]:
test11("sd", 23,424,"dada", ["dad", 23+8j] , a=4, b= 7, c= 6, d=2)

In [ ]:
def test12(a, *vibi):    
    return a, vibi            #in this sequence

In [ ]:
test12("dada", "dadad", 2,4242,422,2,3,2, a= "ww")   #not working because by default it always select first value as a value of a but we assigned value of a second time as a= "ww" so it became multiple value

In [ ]:
test12("dada", "dadad", 2,4242,422,2,3,2)  #solution

In [ ]:
#ques  Let the user any no, any type of data input if the data input contains a list the return that list only
def test13(*args):
    for i in args:
        if type(i)== list:
             return i

In [ ]:
test13("dd", 323,32,3,23,["sdsd", 233,32, 6+9j], 4+8j, ("Sdsd", 323), {"sdsd":"ssd", "sdsd":"sdssdsd"})

In [ ]:
#but the problem with above solution, if a data input consists more than 1 list, then this function only return 1 list 

#Solution is:

def test14(*args):
    l=[]
    for i in args:
        if type(i)== list:
            l.append(i)
    return l

In [ ]:
test14("dd", 323,32,3,23,["sdsd", 233,32, 6+9j], 4+8j, ("Sdsd", 323), ["dad", 232,2323], {"sdsd":"ssd", "sdsd":"sdssdsd"})

In [ ]:
d= {"a": [2,3.4,34], 6:[3,23232,3,23]}

In [ ]:
d["a"]

**kwargs is a standard notation(again **kwargs is not a reserved keyword(**(your name also) to pass a keyword argumnets (in form of key value pairs)

In [ ]:
def test15(**kwargs):
    return kwargs

In [ ]:
test15(a= [2,3.4,34], b= [3,23232,3,23])     #so here a and b are treated as a keys and later parts are treated as a values and the output will be always will be a dictionary

In [ ]:
def information(**jaga):
    return jaga

In [ ]:
information(name = "jagadeesh", age= 23, phone= 232232323, Id= "jagadeesh.jm534@gmail.com")

In [ ]:
def test16(a, **jaga):
    return a, jaga

In [ ]:
test16(33,32,32,3,23,2,3)   #it wont work because altough a will defalut take 33 but the problem is not given data as a key value after 33

In [ ]:
test16(2323, b= 23,c= 23, d= 23, e= 31)

In [ ]:
def test17(a, **jaga, *args):
    return jaga, a, args       #syntax problem in context of sequence

In [ ]:
def test18(a, *args, **kwargs):    #correct sequence (variable, *args, **kwargs) 
    return args, a, kwargs       #order of return doesnot matter in any case

In [ ]:
test18(2313, 313,313,1,31,3, b= "adad")    #so here a will be 2313 and next will be for args and where there is = that data will be for kwargs

In [ ]:
def test19(a,b):
    return a*b

In [ ]:
test19(67,33)

In [ ]:
#How to create a anonymus function without a name, Solution : Lambda function

In [ ]:
a= lambda a, b: (a*b , a+b)   #we can store the syntax into a variable and perform the operation

In [ ]:
a(67,311)

In [ ]:
b= lambda *a:a    #lamda function behaves as a *args

In [ ]:
b("Wdsdw", "WDWD")

In [ ]:
x= lambda a, *args, **kwargs: a, args, kwargs    #lambda s a kwargs

In [ ]:
x(12, 2323,3,2,3,b= 4, c= 6)

In [ ]:
y= lambda x: [print(i) for i in x]

In [ ]:
y("jaga")

In [ ]:
y([3232,3,23,])

In [ ]:
l= [4,5,6,7,7,8]

In [ ]:
l1= []
for i in l:
    l1.append(i*2)

In [ ]:
l1

#List comprehension

In [ ]:
[i*2 for i in l]    #list comprehension

In [ ]:
a= 10
def test20(c, d):
    return c*d

In [ ]:
test20(a, 50)     #so here a is sent in place of c where is a=10, #It is call by reference

In [ ]:
a= 10
def test21(c,d):
    a=5
    return c*d

In [ ]:
test21(a, 50)

In [ ]:
c=10
def test22(c, d):
    c= 5                    #c=10 is a global variable and #c=5 is local varibale
    return c*d

In [ ]:
test22(10, 50)

In [ ]:
[(i**2, i+1) for i in l if i<60]

#dictionary comprehension

In [ ]:
{i:i**2 for i in range(10)}

In [ ]:
tuple(i*2 for i in range(10))

In [ ]:
s= "jaga"
for i in s:
    print(i)

In [ ]:
next(s)

#Iterable: If an object which can be accesssed  with the help of index (for ex. string, list etc)

#Iterator is the object which can be access one after another.

#Iter() is the function which is used to convert the iterable to iterator.

#The object which is iterable can only be converted into a iterator

#Iter is in built in For loop for example, That is why we can access the object one after other since for loop convert iterable to iterator automatically during the process of executon

In [ ]:
s= "jaga"   #iterable but not iterator

s[0]    #iterable- which can access in sequencial manner but cannot be accessed until it converted into iterator

In [ ]:
b= iter(s)   # Now converted to iterator

In [ ]:
next(b)   #next is the funtion with which we cqn acess in a sequencial manner

In [ ]:
next(b)

In [ ]:
next(b)

In [ ]:
next(b)

In [ ]:
next(b)   #iteration stopped

In [ ]:
l=[1,2,34,5]

In [ ]:
d= iter(l)

In [ ]:
next(d)

In [ ]:
next(d)

In [ ]:
next(d)

In [ ]:
next(d)

In [ ]:
next(d)

#But in case of loop, we are saved from this stop error automatucally because the len of the object is internally calculated and the iteration is processed upto the length itself

In [ ]:
r= range(6)    #range function is iterable but not iterator

In [ ]:
next(r)

In [ ]:
r= iter(r)

In [ ]:
next(r)

In [ ]:
next(r)

In [ ]:
list(range(0, 34, 2))

# Generator

In [ ]:
def gencube(n):
    for i in range(n):
        return i**3

In [ ]:
gencube(3)   #only we will get for i=0

#so to get all the cubes
#solutions we know upto now are:
   # use print function----->but problem is nonetype
    # use a empty list and append each value and return the list

#But if the number is very high like n = 600000000, then the compution time and memory comsumption will be huge

In [ ]:
range(1000000000000000000)

#Normally if we follow the solution of list approach the return function returns the list after entire execution of each and every number, So there is a requirement to store the prevoiusly processed data into memory and process new number at the sam einstant. that is why memroy and compution capability requirement is huge.

#So if we consider the function like range which generates a object and when for loop is called over range function it will process the data one after another and immediately throw it into console after each processing that is why memory consumption is very low.

#yield is also a generator function which is similar to range

In [ ]:
def gencube1(n):
    for i in range(n):
        yield i**3

In [ ]:
gencube1(100)   #so Here, since we used yield function we are having a object generation.

In [ ]:
f= gencube1(100)

In [ ]:
for i in f:
    print(i)     #Here the processing time is so less

In [ ]:
#Ques generate fibinacci series by using yield function

def fib(n):
    a= 1
    b= 1
    for i in range(n):
           yield a, i
           a, b= b, a+b

In [ ]:
e= fib(10)

In [ ]:
for i in e:
    print(i)

In [ ]:
def fib1(n):
    a=1
    b=1
    output= []
    for i in range(n):
        output.append(a)
        a,b = b, a+b
    return output

In [ ]:
fib1(10)

In [ ]:
#q2. 
def indexofprimitive(a):
    lindex=[]
    for i in range(len(a)):
        lindex.append(i)
    return lindex

In [ ]:
indexofprimitive([1,2,323,23,23,])

In [ ]:
def my_function(input_function):
  result = input_function()
  return result*2

# Example usage
def add_one():
    a= int(input("enter your int"))
    return  a+ 1

print(my_function(add_one))  # Output: 2

In [ ]:
#q4.

def concatelist(*lists):
    finallist= []
    for i in lists:
        if type(i)== list:
            finallist.extend(i)
    return finallist

In [ ]:
concatelist([1,313,13,13,13,1], [131,31,3,13,], [1313,31,3,1,31,3])

In [ ]:
#q6. 
def indexfun(a, obj):
    if type(a)== list:
        for i in range(len(a)):
            if a[i]== obj:          #we cam use yield function in this way also
                yield i

In [ ]:
for i in indexfun([1,22,2,2,323,2,3,23,2], 2):
    print(i)

# File Handling

In [ ]:
pwd()

In [ ]:
import os

In [ ]:
os.chdir('/home/jovyan/work/folder for file handling stuff')     #fuunction to change the directory

In [ ]:
pwd

In [ ]:
f= open("test.txt", "w")

In [ ]:
!ls    #gives all the file names which are presnt in our pwd

In [ ]:
f.write("This is my first file that i am writing in test.txt")

In [ ]:
f.close()

In [ ]:
%%writefile test2.txt
this is a data i would like to store in my file

In [ ]:
%%writefile test2.txt          #Another way to write a data in a file
this is a data i would like to store in my file

In [ ]:
!ls

In [ ]:
f= open("test.txt", "r")   #here r is optinal to keep because by defalut the mode wil be in read mode

In [ ]:
f.read()    #to read the file

In [ ]:
f.write("dwd")   #write is not possible because we opened the file in read mode

In [ ]:
f.read()   
# if we execute read second time it will give a blank beacuse the cursor will upto end of file during the first call of read so now the cursor is available at the end of file where there is no more data available so it is giving the balnk

In [ ]:
#So to reset teh cursor 
f.seek(5)   #seek is the operator by which we can reset our cursor to a particular position

In [ ]:
f.read()   #so since cursor is at 5th position it start reading from 5th position

In [ ]:
f.seek(0)   #cursor is at 0th postion

In [ ]:
f.tell()   #tell will tell us where is your cursor

In [ ]:
f.seek(23)

In [ ]:
f.tell()

In [ ]:
f.seek(0)

In [ ]:
f.readline()   #readline reads the file line by line

In [ ]:
f.readline()   #2nd line

In [ ]:
f.readline()   # 3rd line ,    so on......

In [ ]:
f= open("google.txt", "w")

In [ ]:
f.write("""Google LLC (/ˈɡuːɡəl/ (listen)) is an American multinational technology company focusing on search engine technology, online advertising, cloud computing, computer software, quantum computing, e-commerce, artificial intelligence,[9] and consumer electronics. It has been referred to as "the most powerful company in the world"[10] and one of the world's most valuable brands due to its market dominance, data collection, and technological advantages in the area of artificial intelligence.[11][12][13] Its parent company Alphabet is considered one of the Big Five American information technology companies, alongside Amazon, Apple, Meta, and Microsoft.

Google was founded on September 4, 1998, by Larry Page and Sergey Brin while they were PhD students at Stanford University in California. Together they own about 14% of its publicly listed shares and control 56% of the stockholder voting power through super-voting stock. The company went public via an initial public offering (IPO) in 2004. In 2015, Google was reorganized as a wholly owned subsidiary of Alphabet Inc. Google is Alphabet's largest subsidiary and is a holding company for Alphabet's Internet properties and interests. Sundar Pichai was appointed CEO of Google on October 24, 2015, replacing Larry Page, who became the CEO of Alphabet. On December 3, 2019, Pichai also became the CEO of Alphabet.[14]""")

In [ ]:
f.close()

In [ ]:
f= open("google.txt", "r+")
for line in f:
    print(line, end= " ")

In [ ]:
f.write("fsfsfsf")

In [ ]:
f.seek(5)

In [ ]:
f.write("This is my file write operation at 5th location")

In [ ]:
f.close()

In [ ]:
f= open("google.txt", "r+")

In [ ]:
f.readlines()   #readlines is the function which gives the output in terms of list by considering each line of data as a single element

In [ ]:
f.seek(0)

In [ ]:
len(f.readlines())

In [ ]:
f.seek(0)

In [ ]:
l= f.readlines()

In [ ]:
l

In [ ]:
l[0].split()

In [ ]:
l1=[]
for i in l[0].split():
    l1.append(i[0])
    
print(l1)

In [ ]:
l= ["this is my first line1", "this is my second line ", "this is my line 3"]

In [ ]:
f= open("google.txt", "r+")

In [ ]:
f.writelines(l)   #write line option is used to write a data line by line from a list

In [ ]:
f.close()

In [ ]:
import os

In [ ]:
os.remove("google.txt")

In [ ]:
!ls

In [ ]:
os.getcwd()

In [ ]:
os.listdir()

In [ ]:
#Ques:   Combine all the txt files availble into one txt file by copying all the data of each file into that combined file

c= open("combinedfile.txt", "a")
for i in os.listdir():
    if i.endswith(".txt"):
        f= open(i, "r")
        c.write(f.read())
c.close()

In [ ]:

"""1 . you have to write a fun which will take string and return a len of 
it without using a inbuilt fun len
2 . write a fun which will be able to print an index of all premitive element which you will pass 
3 . Write a fun which will take input as a dict and give me out as a list of all the values 
even in case of 2 level nesting it should work . 
4 . write a fun which will take another function as an input and return me an output 
5. write a function whihc will take multiple list as a input and give me concatnation of all the element as 
and output 
6 . write a function which will be able to take a list as an input return an index of each element 
like a inbuilt index function but even if we have repetative element it should return index 
7 . Write a function which will whould return list of all the file name from a directory . 
8  . write a function which will be able to show your system configuration . 
9 . write a function which will be able to show date and time  . 
10 . write a function whihc will be able to read a image file and show it to you .
11 . write a function which can read video file and play for you . 
12  . write a function whihc can move a file from one directory to another directory . 
13 . write a function which will be able to shutdonw your system . 
14 . write a function whihc will be able to access your mail . 
15 . write a func bywhcih i can send a mail to anyone 
16. write a func to read a complete PDf file . 
17. write a function to read a word file . 
18 . write a function which can help you to filter only word file from a directory . 
19 . write a function by which you can print an ip address of your system . 
20 . write a function by which you will be able to append two PDF files . """

In [ ]:
#ques7.
def funcdir():
    import os
    return os.listdir()

In [ ]:
funcdir()

In [ ]:
#ques 8.
def show_sys_config():
    import platform
    print ("Operating system :", platform.system())
    print("Platform:", platform.platform())
    print("CPU:", platform.processor())
    print("Python version:", platform.python_version())

In [ ]:
show_sys_config()

In [ ]:
#Ques 9.

from datetime import datetime

def show_datetime():
    now= datetime.now()
    print("current data and time is:" , now.strftime("%y-%m-%d %H:%M:%S"))

In [ ]:
show_datetime()

In [ ]:
#ques 10
from PIL import Image
def show_image(filename):
    image= Image.open(filename)
    image.show()

In [ ]:
import os
os.chdir('/home/jovyan/work/Images for python')

In [ ]:
show_image("passport pic.PNG")

In [ ]:
pip install opencv-python

In [ ]:
#ques 11
import cv2

def play_videoFile(filePath,mirror=False):

    cap = cv2.VideoCapture(filePath)
    cv2.namedWindow('big_buck_bunny_720p_1mb (1).mp4',cv2.WINDOW_AUTOSIZE)
    while True:
        ret_val, frame = cap.read()

        if mirror:
            frame = cv2.flip(frame, 1)

        cv2.imshow('big_buck_bunny_720p_1mb (1).mp4', frame)

        if cv2.waitKey(1) == 27:
            break  # esc to quit

    cv2.destroyAllWindows()

def main():
    play_videoFile('big_buck_bunny_720p_1mb (1).mp4',mirror=False)

if __name__ == '__main__':
    main()

In [ ]:
#Ques 12
def changedir(src, dst):
    import os
    os.rename(src, dst)

In [ ]:
changedir('/home/jovyan/work/Images for python/text.txt',   '/home/jovyan/work/folder for file handling stuff/text.txt')

In [ ]:
pip install os-sys

In [ ]:
def shutdown():
    import os
    os.system("shutdown /s /t 0")

In [ ]:
import smtplib
 
# creates SMTP session
s = smtplib.SMTP('smtp.gmail.com', 587)
 
# start TLS for security
s.starttls()
 
# Authentication
s.login("sender_email_id", "sender_email_id_password")
 
# message to be sent
message = "Message_you_need_to_send"
 
# sending the mail
s.sendmail("sender_email_id", "receiver_email_id", message)
 
# terminating the session
s.quit()

# Exception Handling

In [ ]:
a= 5
b= int(input("enter a number"))    #this code may give error if we enter b value as 0, so how to handle this kind of issues
a/b

In [ ]:
import os
os.chdir('/home/jovyan/work/folder for file handling stuff')

In [ ]:
f= open("test.txt", "r")    #we cant write because we opened it in read mode
f.write("dwdwdwdw")

In [ ]:
f= open("test.txt", "r")
f.write("ffffwfe")     #altough the error comes because of execution of second line but there is no problem in executing third line , still it was not able to excute
print("this my code)

In [ ]:
try:
    f= open("test.txt", "r")
    f.write("ffffwfe")          # so, if there is a error in try block, the error is thrown into except block
except:
    print("there is a mistake")
print("this my code")

In [ ]:
l= [22,2,2,23,2,3]
try:
    for i  range(len(l)):     #except block by defalut able to handle runtime error only but not syntax error
        print(l)
except:
    print("this is my code")

In [ ]:
l= [22,2,2,23,2]
for i in range(len(l)+1):     #except block by defalut able to handle runtime error only but not syntax error
    print(l[i])

In [ ]:
l= [22,2,2,23,2]
try:
    for i in range(len(l)+1):      
        print(l[i])
except:
    print("this is my code")

In [ ]:
try:
    a= int(input())
    b= int(input())
except Exception as e:
    print(e)
print("This is my program")

In [ ]:
import os
os.chdir("/home/jovyan/work/folder for file handling stuff")
try:
    f=open("test.txt", "r")
    f.write("This is my code for exception handling")
    print("this is my code")
except Exception as e:
    print(e)
try:
    l=[1,2,2,3,23,2,3]
    for i in l:
        print(i)
except:
    print("This is handler for for loop")

In [ ]:
try:
    d= {"key1":"sddasd", "key2": [1,23,123,1,32], "key3": (21,3,123,13,1)}
    d["key4"]= int(input())
except Exception as e:
    print(e)

In [ ]:
try:
  f= open("test43.txt", "r")
except Exception as e:
  print("dddqdqdqwd", e)
else:
  print("do this on suceesful execution of try block")
finally:
  print("do this for sure")
  try:
    f= open("asdasd.txt", "r")
  except:
    print("handle this")
  finally:
    print("it will come to this block for sure")

In [ ]:
#ques : Ask an user for integer until he enters integer
def askint():
  while True:
    try:
      user_input = int(input("enter an integer"))
      break
    except Exception as e:
      print("Invalid input."+str(e)+" Please eneter integer")
  return user_input

In [ ]:
askint()

In [ ]:
#ques : ask only positive integer until the user enetrs a positive integer 
def askposint():
  while True:
    try:
      a= int(input("eneter a positive integer"))
      if type(a)==int and a>0:
        break
      else:
        print("Nah, u havent enetered positive interger")
        continue
    except ValueError as e:
      print("No, you have'nt enetered an integer."+ str(e)+ " Please eneter ineteger")
  return a

In [ ]:
askposint()

#
Raising own exception

raise is a keyword to raise an exception

In [ ]:
def test(a):
    if a<0:
        raise Exception("you have enetered an negative number", a)
    return a

In [ ]:
test(-1)

In [6]:
def test2(a):
    if a== "jaga":
        raise ZeroDivisionError("You have entered invalid name", a)
    return a

# 
So we can overwrite the exceptions as shown above, Altough there is no relation for zerodivision error and string, Still we can rasie an exception of zerodivision error

In [7]:
try:
    s= input("Enter your name")
    test2(s)
except Exception as e:
    print("I am calling my own exception", e)

I am calling my own exception ('You have entered invalid name', 'jaga')

# Logging

In [2]:
import logging

In [ ]:
pwd

In [3]:
import os
os.chdir('E:\VS CODE\Logging Folder')

In [4]:
logging.basicConfig(filename= 'test.log', level= logging.INFO)

In [ ]:
pwd

In [ ]:
"""DEBUG
INFO
WARNING
ERROR
CRITICAL"""
# These are different log files we can log

In [5]:
logging.info("This is my info log")
logging.warning("this is my warning log")
logging.error("this is my error log")

In [6]:
logging.shutdown()

In [ ]:
pwd

In [1]:
import logging
logging.basicConfig ( filename= "test2.log", level = logging.DEBUG, format= '%(acstime)s %(message)s')

In [ ]:
pwd

In [ ]:
import os
os.chdir('e:\VS CODE\Logging Folder')

In [ ]:
logging.info("this is my info log")
logging.warning("this is my warninng log")
logging.debug("this is my debug log")

In [ ]:
logging.error("this is my error log")

In [1]:
""" Herarchy of level

ERROR
WARNING
INFO
DEBUG """

' Herarchy of level\n\nERROR\nWARNING\nINFO\nDEBUG '

# Module Discussions

In [11]:
import os

In [12]:
def test(a,b):
    return a+b

In [19]:
import Module1    #importing add module

In [20]:
Module1.add(2,3)   #calling function which is inside my module1

5

In [21]:
Module1.multiply(2,4)   #calling multiply function from Module1

8

In [23]:
Module1.fun()

'this is my func code for add module'

In [24]:
from Module1 import add    #only calling a specific required function

In [25]:
add(2,3)

5

In [1]:
from Module1 import *    #Import everything from Module 1

In [2]:
add(2,3)

5

In [3]:
multiply(2,3)

6

In [7]:
import module2

In [8]:
module2.get_course()

['fsds', 'cyber', 'blockchain', 'cloud']

In [10]:
module2.get_greeting()

'greeting from jaga'